@model dynamic
@using Microsoft.AspNetCore.Http
@using PsycoApp.utilities;
@{
    var dHoy = DateTime.Now;
    var centro_nombre = Context.Session.GetInt32("id_sede") == 1 ? "Sentirse bien" : "Transforma";
    var logo = (Context.Session.GetInt32("id_sede") == 1 ? "sentirse_bien" : "transforma") + ".jpg";
}

<!DOCTYPE html>
<html lang="en" style="background-color: #eef5f9;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Helper.GetNombreSite()</title>

    @*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    *@

    <!-- STYLES BEGIN -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet" />
    <link href="~/assets/plugins/c3-master/c3.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet" />

    <link href="~/assets/plugins/wizard/steps.css" rel="stylesheet" />
    <link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/style.css?f=@dHoy.ToString("yyyyMMddhhmmss")" rel="stylesheet" />
    <link href="~/assets/css/colors/default-dark.css?f=@dHoy.ToString("yyyyMMddhhmmss")" id="theme" rel="stylesheet" />

    <link href="~/basic/cust_styles.css?f=@dHoy.ToString("yyyyMMddhhmmss")" rel="stylesheet" />

    <!-- JQuERY -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- SWEET ALERT -->
    <link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

    <link href="~/assets/plugins/morrisjs/morris.css" rel="stylesheet">

    <style>

        .table-striped {
            background-color: #1656a0;
        }

            .table-striped tbody tr td {
                color: #FFFFFF;
            }

            .table-striped tbody tr:nth-of-type(odd) td {
                color: #124187;
            }

            .table-striped thead tr:nth-of-type(odd) th {
                color: #FFFFFF;
            }

        #trigger_seleccion_mes,
        #bdTblSemanal {
            background-color: #FFFFFF;
        }

        #hdTblSemanal, .yourTableClass {
            background-color: #FFFFFF;
        }
    </style>

    <!-- WHATSAPP STYLE AND SCRIPT -->
    <link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
    <script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>

    <!-- CHAT STYLES -->
    <link rel="stylesheet" href="~/basic/styles.css?f=@dHoy.ToString("yyyyMMddhhmmss")" />
    <link rel="stylesheet" href="~/basic/scrollbar.css?f=@dHoy.ToString("yyyyMMddhhmmss")" />
    <link rel="stylesheet" href="~/basic/dots-elastic.css?f=@dHoy.ToString("yyyyMMddhhmmss")" />

    <!-- SB - STYLE -->

    <link rel="stylesheet" href="~/src/css/sb-styles.css" />
    <link rel="stylesheet" href="~/src/css/sb-modo-oscuro.css" />
    <link rel="stylesheet" href="~/src/plugin/sweetalert2/css/sweetalert2.min.css" />

</head>

<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    @* SB-Administador *@

    <div class="sb-main-hm">
        <div class="sb-aside active-modular-oscuro">
            <div class="sb-aside-container active-modular2-oscuro">
                <div class="sb-aside-user">
                    <div class="sb-aside-user-photo">
                        <img src="../images/@logo" alt="">
                    </div>
                    <div class="sb-aside-user-info">
                        <span id="lbl_TipoUsuario" runat="server">@Model.DynamicData.nombres @Model.DynamicData.apellidos</span>
                        <p>@centro_nombre</p>
                    </div>
                    <input id="hdnIdTipoUsuario" type="hidden" value="@Model.DynamicData.id_tipousuario" />
                    <input id="hdnIdSede" type="hidden" value="@Model.DynamicData.id_sede" />
                </div>
                <div class="sb-aside-list">
                    <div class="sb-aside-admin">
                        @if ((int)@Model.DynamicData.id_tipousuario == 1 || (int)@Model.DynamicData.id_tipousuario == 2 || (int)@Model.DynamicData.id_tipousuario == 3)
                        {
                            <a href="/Home" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#FFFFFF"><g stroke-width="0" /><g stroke-linecap="round" stroke-linejoin="round" /><g><path d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M15 18H9" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" /> </g></svg>
                                    <p>Inicio</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {
                            <a href="/Mantenimiento/Psicologo" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                                    <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFF;
                                        }
    </style>
                                    <g>
                                    <path class="st0" d="M256,265.308c73.252,0,132.644-59.391,132.644-132.654C388.644,59.412,329.252,0,256,0 c-73.262,0-132.643,59.412-132.643,132.654C123.357,205.917,182.738,265.308,256,265.308z" />
                                    <path class="st0" d="M425.874,393.104c-5.922-35.474-36-84.509-57.552-107.465c-5.829-6.212-15.948-3.628-19.504-1.427 c-27.04,16.672-58.782,26.399-92.819,26.399c-34.036,0-65.778-9.727-92.818-26.399c-3.555-2.201-13.675-4.785-19.505,1.427 c-21.55,22.956-51.628,71.991-57.551,107.465C71.573,480.444,164.877,512,256,512C347.123,512,440.427,480.444,425.874,393.104z" />
                                                </g>
                                            </g>
                                        </svg>
                                    <p>Especialistas</p>
                                </div>
                            </a>

                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {
                            <a href="/Mantenimiento/Paciente" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                                    <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFF;
                                        }
    </style>
                                    <g>
                                    <path class="st0" d="M256,265.308c73.252,0,132.644-59.391,132.644-132.654C388.644,59.412,329.252,0,256,0 c-73.262,0-132.643,59.412-132.643,132.654C123.357,205.917,182.738,265.308,256,265.308z" />
                                    <path class="st0" d="M425.874,393.104c-5.922-35.474-36-84.509-57.552-107.465c-5.829-6.212-15.948-3.628-19.504-1.427 c-27.04,16.672-58.782,26.399-92.819,26.399c-34.036,0-65.778-9.727-92.818-26.399c-3.555-2.201-13.675-4.785-19.505,1.427 c-21.55,22.956-51.628,71.991-57.551,107.465C71.573,480.444,164.877,512,256,512C347.123,512,440.427,480.444,425.874,393.104z" />
                                                </g>
                                            </g>
                                        </svg>
                                    <p>Pacientes</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1 || (int)@Model.DynamicData.id_tipousuario == 4 || (int)@Model.DynamicData.id_tipousuario == 3)
                        {
                            <a href="/RegistroCitas" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <g id="Navigation / Building_03"> <path id="Vector" d="M2 20H4M4 20H15M4 20V14.3682C4 13.8428 4 13.58 4.063 13.335C4.11883 13.1178 4.21073 12.9118 4.33496 12.7252C4.47505 12.5147 4.67114 12.3384 5.06152 11.9877L7.3631 9.91997C8.11784 9.24192 8.49549 8.90264 8.92249 8.77393C9.29894 8.66045 9.7007 8.66045 10.0771 8.77393C10.5045 8.90275 10.8827 9.2422 11.6387 9.92139L13.9387 11.9877C14.3295 12.3388 14.5245 12.5146 14.6647 12.7252C14.7889 12.9118 14.8807 13.1178 14.9365 13.335C14.9995 13.58 15 13.8428 15 14.3682V20M15 20H20M20 20H22M20 20V7.19691C20 6.07899 20 5.5192 19.7822 5.0918C19.5905 4.71547 19.2837 4.40973 18.9074 4.21799C18.4796 4 17.9203 4 16.8002 4H10.2002C9.08009 4 8.51962 4 8.0918 4.21799C7.71547 4.40973 7.40973 4.71547 7.21799 5.0918C7 5.51962 7 6.08009 7 7.2002V10.0002" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g> </g></svg>
                                    <p>Registro de citas</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1 || (int)@Model.DynamicData.id_tipousuario == 3)
                        {
                            <a href="/HistorialCitas" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M3 8C3 5.17157 3 3.75736 3.87868 2.87868C4.75736 2 6.17157 2 9 2H15C17.8284 2 19.2426 2 20.1213 2.87868C21 3.75736 21 5.17157 21 8V16C21 18.8284 21 20.2426 20.1213 21.1213C19.2426 22 17.8284 22 15 22H9C6.17157 22 4.75736 22 3.87868 21.1213C3 20.2426 3 18.8284 3 16V8Z" stroke="#FFF" stroke-width="1.5" /> <path d="M8 2.5V22" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 12H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 16H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 8H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 6.5H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 10H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> </g></svg>
                                    <p>Historial de citas</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {
                            <a href="javascript:void(0)" class="sb-aside-item" onclick="ConfigCaja()">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M3 8C3 5.17157 3 3.75736 3.87868 2.87868C4.75736 2 6.17157 2 9 2H15C17.8284 2 19.2426 2 20.1213 2.87868C21 3.75736 21 5.17157 21 8V16C21 18.8284 21 20.2426 20.1213 21.1213C19.2426 22 17.8284 22 15 22H9C6.17157 22 4.75736 22 3.87868 21.1213C3 20.2426 3 18.8284 3 16V8Z" stroke="#FFF" stroke-width="1.5" /> <path d="M8 2.5V22" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 12H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 16H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 8H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 6.5H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 10H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> </g></svg>
                                    <p>Configuración de caja</p>
                                </div>
                            </a>
                        }
                        <a href="javascript:void(0)" class="sb-aside-item" onclick="ConfigCambioPwd()">
                            <div class="sb-aside-item-bloc">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M3 8C3 5.17157 3 3.75736 3.87868 2.87868C4.75736 2 6.17157 2 9 2H15C17.8284 2 19.2426 2 20.1213 2.87868C21 3.75736 21 5.17157 21 8V16C21 18.8284 21 20.2426 20.1213 21.1213C19.2426 22 17.8284 22 15 22H9C6.17157 22 4.75736 22 3.87868 21.1213C3 20.2426 3 18.8284 3 16V8Z" stroke="#FFF" stroke-width="1.5" /> <path d="M8 2.5V22" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 12H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 16H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 8H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 6.5H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 10H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> </g></svg>
                                <p>Actualizar password</p>
                            </div>
                        </a>
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {
                            <a href="/Caja" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M21 18L20.1703 11.7771C20.0391 10.7932 19.9735 10.3012 19.7392 9.93082C19.5327 9.60444 19.2362 9.34481 18.8854 9.1833C18.4873 9 17.991 9 16.9983 9H7.00165C6.00904 9 5.51274 9 5.11461 9.1833C4.76381 9.34481 4.46727 9.60444 4.26081 9.93082C4.0265 10.3012 3.96091 10.7932 3.82972 11.7771L3 18M21 18H3M21 18V19.4C21 19.9601 21 20.2401 20.891 20.454C20.7951 20.6422 20.6422 20.7951 20.454 20.891C20.2401 21 19.9601 21 19.4 21H4.6C4.03995 21 3.75992 21 3.54601 20.891C3.35785 20.7951 3.20487 20.6422 3.10899 20.454C3 20.2401 3 19.9601 3 19.4V18M7.5 12V12.01M10.5 12V12.01M9 15V15.01M12 15V15.01M15 15V15.01M13.5 12V12.01M16.5 12V12.01M9 9V6M5.8 6H12.2C12.48 6 12.62 6 12.727 5.9455C12.8211 5.89757 12.8976 5.82108 12.9455 5.727C13 5.62004 13 5.48003 13 5.2V3.8C13 3.51997 13 3.37996 12.9455 3.273C12.8976 3.17892 12.8211 3.10243 12.727 3.0545C12.62 3 12.48 3 12.2 3H5.8C5.51997 3 5.37996 3 5.273 3.0545C5.17892 3.10243 5.10243 3.17892 5.0545 3.273C5 3.37996 5 3.51997 5 3.8V5.2C5 5.48003 5 5.62004 5.0545 5.727C5.10243 5.82108 5.17892 5.89757 5.273 5.9455C5.37996 6 5.51997 6 5.8 6Z" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g></svg>
                                    <p>Caja</p>
                                </div>
                            </a>
                        }
                        @*<a href="/HistorialCitas" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <g id="Navigation / Building_03"> <path id="Vector" d="M2 20H4M4 20H15M4 20V14.3682C4 13.8428 4 13.58 4.063 13.335C4.11883 13.1178 4.21073 12.9118 4.33496 12.7252C4.47505 12.5147 4.67114 12.3384 5.06152 11.9877L7.3631 9.91997C8.11784 9.24192 8.49549 8.90264 8.92249 8.77393C9.29894 8.66045 9.7007 8.66045 10.0771 8.77393C10.5045 8.90275 10.8827 9.2422 11.6387 9.92139L13.9387 11.9877C14.3295 12.3388 14.5245 12.5146 14.6647 12.7252C14.7889 12.9118 14.8807 13.1178 14.9365 13.335C14.9995 13.58 15 13.8428 15 14.3682V20M15 20H20M20 20H22M20 20V7.19691C20 6.07899 20 5.5192 19.7822 5.0918C19.5905 4.71547 19.2837 4.40973 18.9074 4.21799C18.4796 4 17.9203 4 16.8002 4H10.2002C9.08009 4 8.51962 4 8.0918 4.21799C7.71547 4.40973 7.40973 4.71547 7.21799 5.0918C7 5.51962 7 6.08009 7 7.2002V10.0002" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g> </g></svg>
                        <p>Historial</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M7 20H4.6C4.03995 20 3.75992 20 3.54601 19.891C3.35785 19.7951 3.20487 19.6422 3.10899 19.454C3 19.2401 3 18.9601 3 18.4V9.0398C3 8.66343 3 8.47524 3.05919 8.31095C3.1115 8.16573 3.19673 8.03458 3.30819 7.9278C3.43428 7.80699 3.60625 7.73056 3.95018 7.5777L12 4L20.0498 7.5777C20.3938 7.73056 20.5657 7.80699 20.6918 7.9278C20.8033 8.03458 20.8885 8.16573 20.9408 8.31095C21 8.47524 21 8.66343 21 9.0398V18.4C21 18.9601 21 19.2401 20.891 19.454C20.7951 19.6422 20.6422 19.7951 20.454 19.891C20.2401 20 19.9601 20 19.4 20H17M7 20H17M7 20V14M17 20V14M7 14V10H17V14M7 14H17" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g></svg>
                        <p>Taller</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <title>maintenance</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Combined-Shape" fill="#FFF" transform="translate(42.666667, 42.666667)"> <path d="M128,7.10542736e-15 C198.692448,7.10542736e-15 256,57.307552 256,128 C256,140.931179 254.082471,153.414494 250.516246,165.181113 L384,298.666667 C407.564149,322.230816 407.564149,360.435851 384,384 C360.435851,407.564149 322.230816,407.564149 298.666667,384 L165.181113,250.516246 C153.414494,254.082471 140.931179,256 128,256 C57.307552,256 7.10542736e-15,198.692448 7.10542736e-15,128 C7.10542736e-15,114.357909 2.13416363,101.214278 6.08683609,88.884763 L66.6347809,149.333333 L126.649,129.346 L129.329,126.666 L149.333333,66.7080586 L88.7145729,6.14152881 C101.0933,2.15385405 114.29512,7.10542736e-15 128,7.10542736e-15 Z"> </path> </g> </g> </g></svg>
                        <p>Mantenimiento</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg fill="#FFF" viewBox="-5.03 0 32.406 32.406" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <g transform="translate(-549.634 -578.31)"> <path d="M569.84,610.716H551.781a2.149,2.149,0,0,1-2.147-2.147V580.478a2.152,2.152,0,0,1,2.142-2.146l11.522-.021,8.688,8.708v21.55A2.149,2.149,0,0,1,569.84,610.716Zm-7.37-30.4-10.689.019a.148.148,0,0,0-.147.146v28.091a.147.147,0,0,0,.147.147H569.84a.147.147,0,0,0,.146-.147V587.845Z" /> <path d="M570.986,588.432h-.013l-7.176-.09a2.032,2.032,0,0,1-2-2.055l.09-6.987a.975.975,0,0,1,1.013-.988,1,1,0,0,1,.987,1.013l-.09,6.986,7.205.121a1,1,0,0,1-.013,2Z" /> <path d="M566.89,593h-12.1a1,1,0,0,1,0-2h12.1a1,1,0,0,1,0,2Z" /> <path d="M566.89,598.542h-12.1a1,1,0,0,1,0-2h12.1a1,1,0,0,1,0,2Z" /> <path d="M566.89,604.084h-12.1a1,1,0,0,1,0-2h12.1a1,1,0,0,1,0,2Z" /> </g> </g></svg>
                        <p>Reportes</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.73169L19.5 5.39836V12.75C19.5 15.6371 17.5419 18.9972 12.2605 20.9533L12 21.0498L11.7395 20.9533C6.45811 18.9972 4.5 15.6371 4.5 12.75V5.39836L12 3.73169ZM6 6.60161V12.75C6 14.8245 7.3659 17.6481 12 19.4479C16.6341 17.6481 18 14.8245 18 12.75V6.60161L12 5.26828L6 6.60161Z" fill="#FFF" /> </g></svg>
                        <p>Seguridad</p>
                        </div>
                        </a>*@
                    </div>
                    <div class="sb-aside-logoff">
                        <div class="sb-aside-logoff-bloc">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M10.0303 8.96965C9.73741 8.67676 9.26253 8.67676 8.96964 8.96965C8.67675 9.26255 8.67675 9.73742 8.96964 10.0303L10.9393 12L8.96966 13.9697C8.67677 14.2625 8.67677 14.7374 8.96966 15.0303C9.26255 15.3232 9.73743 15.3232 10.0303 15.0303L12 13.0607L13.9696 15.0303C14.2625 15.3232 14.7374 15.3232 15.0303 15.0303C15.3232 14.7374 15.3232 14.2625 15.0303 13.9696L13.0606 12L15.0303 10.0303C15.3232 9.73744 15.3232 9.26257 15.0303 8.96968C14.7374 8.67678 14.2625 8.67678 13.9696 8.96968L12 10.9393L10.0303 8.96965Z" fill="#FFF" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z" fill="#FFF" /> </g></svg>
                            <p>Cerrar Sesión</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sb-aside-compress">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.70710678,12 L19.5,12 C19.7761424,12 20,12.2238576 20,12.5 C20,12.7761424 19.7761424,13 19.5,13 L8.70710678,13 L11.8535534,16.1464466 C12.0488155,16.3417088 12.0488155,16.6582912 11.8535534,16.8535534 C11.6582912,17.0488155 11.3417088,17.0488155 11.1464466,16.8535534 L7.14644661,12.8535534 C6.95118446,12.6582912 6.95118446,12.3417088 7.14644661,12.1464466 L11.1464466,8.14644661 C11.3417088,7.95118446 11.6582912,7.95118446 11.8535534,8.14644661 C12.0488155,8.34170876 12.0488155,8.65829124 11.8535534,8.85355339 L8.70710678,12 L8.70710678,12 Z M4,5.5 C4,5.22385763 4.22385763,5 4.5,5 C4.77614237,5 5,5.22385763 5,5.5 L5,19.5 C5,19.7761424 4.77614237,20 4.5,20 C4.22385763,20 4,19.7761424 4,19.5 L4,5.5 Z" />
                </svg>
            </div>

        </div>

        <div class="sb-aside-responsive">
            <div class="sb-aside-reponsive-top">
                <div class="sb-aside-reponsive-top-menu">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z" />
                    </svg>
                </div>
                <div class="sb-aside-reponsive-top-user-photo">
                    <img src="../images/user.png" alt="">
                </div>
            </div>
            <div class="sb-aside-reponsive-menu">
                <div class="sb-aside-list">
                    <div class="sb-aside-admin">
                        @if ((int)@Model.DynamicData.id_tipousuario == 1 || (int)@Model.DynamicData.id_tipousuario == 2 || (int)@Model.DynamicData.id_tipousuario == 3)
                        {
                            <a href="/Home" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#FFFFFF"><g stroke-width="0" /><g stroke-linecap="round" stroke-linejoin="round" /><g><path d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M15 18H9" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" /> </g></svg>
                                    <p>Inicio</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {

                            <a href="/Mantenimiento/Psicologo" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                                    <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFF;
                                        }
    </style>
                                    <g>
                                    <path class="st0" d="M256,265.308c73.252,0,132.644-59.391,132.644-132.654C388.644,59.412,329.252,0,256,0 c-73.262,0-132.643,59.412-132.643,132.654C123.357,205.917,182.738,265.308,256,265.308z" />
                                    <path class="st0" d="M425.874,393.104c-5.922-35.474-36-84.509-57.552-107.465c-5.829-6.212-15.948-3.628-19.504-1.427 c-27.04,16.672-58.782,26.399-92.819,26.399c-34.036,0-65.778-9.727-92.818-26.399c-3.555-2.201-13.675-4.785-19.505,1.427 c-21.55,22.956-51.628,71.991-57.551,107.465C71.573,480.444,164.877,512,256,512C347.123,512,440.427,480.444,425.874,393.104z" />
                                                    </g>
                                                </g>
                                            </svg>
                                    <p>Especialistas</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {
                            <a href="/Mantenimiento/Paciente" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                                    <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFF;
                                        }
    </style>
                                    <g>
                                    <path class="st0" d="M256,265.308c73.252,0,132.644-59.391,132.644-132.654C388.644,59.412,329.252,0,256,0 c-73.262,0-132.643,59.412-132.643,132.654C123.357,205.917,182.738,265.308,256,265.308z" />
                                    <path class="st0" d="M425.874,393.104c-5.922-35.474-36-84.509-57.552-107.465c-5.829-6.212-15.948-3.628-19.504-1.427 c-27.04,16.672-58.782,26.399-92.819,26.399c-34.036,0-65.778-9.727-92.818-26.399c-3.555-2.201-13.675-4.785-19.505,1.427 c-21.55,22.956-51.628,71.991-57.551,107.465C71.573,480.444,164.877,512,256,512C347.123,512,440.427,480.444,425.874,393.104z" />
                                                    </g>
                                                </g>
                                            </svg>
                                    <p>Pacientes</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1 || (int)@Model.DynamicData.id_tipousuario == 4 || (int)@Model.DynamicData.id_tipousuario == 3)
                        {
                            <a href="/RegistroCitas" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <g id="Navigation / Building_03"> <path id="Vector" d="M2 20H4M4 20H15M4 20V14.3682C4 13.8428 4 13.58 4.063 13.335C4.11883 13.1178 4.21073 12.9118 4.33496 12.7252C4.47505 12.5147 4.67114 12.3384 5.06152 11.9877L7.3631 9.91997C8.11784 9.24192 8.49549 8.90264 8.92249 8.77393C9.29894 8.66045 9.7007 8.66045 10.0771 8.77393C10.5045 8.90275 10.8827 9.2422 11.6387 9.92139L13.9387 11.9877C14.3295 12.3388 14.5245 12.5146 14.6647 12.7252C14.7889 12.9118 14.8807 13.1178 14.9365 13.335C14.9995 13.58 15 13.8428 15 14.3682V20M15 20H20M20 20H22M20 20V7.19691C20 6.07899 20 5.5192 19.7822 5.0918C19.5905 4.71547 19.2837 4.40973 18.9074 4.21799C18.4796 4 17.9203 4 16.8002 4H10.2002C9.08009 4 8.51962 4 8.0918 4.21799C7.71547 4.40973 7.40973 4.71547 7.21799 5.0918C7 5.51962 7 6.08009 7 7.2002V10.0002" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g> </g></svg>
                                    <p>Registro de citas</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1 || (int)@Model.DynamicData.id_tipousuario == 3)
                        {
                            <a href="/HistorialCitas" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M3 8C3 5.17157 3 3.75736 3.87868 2.87868C4.75736 2 6.17157 2 9 2H15C17.8284 2 19.2426 2 20.1213 2.87868C21 3.75736 21 5.17157 21 8V16C21 18.8284 21 20.2426 20.1213 21.1213C19.2426 22 17.8284 22 15 22H9C6.17157 22 4.75736 22 3.87868 21.1213C3 20.2426 3 18.8284 3 16V8Z" stroke="#FFF" stroke-width="1.5" /> <path d="M8 2.5V22" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 12H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 16H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M2 8H4" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 6.5H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> <path d="M11.5 10H16.5" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" /> </g></svg>
                                    <p>Historial de citas</p>
                                </div>
                            </a>
                        }
                        @if ((int)@Model.DynamicData.id_tipousuario == 1)
                        {
                            <a href="/Caja" class="sb-aside-item">
                                <div class="sb-aside-item-bloc">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M21 18L20.1703 11.7771C20.0391 10.7932 19.9735 10.3012 19.7392 9.93082C19.5327 9.60444 19.2362 9.34481 18.8854 9.1833C18.4873 9 17.991 9 16.9983 9H7.00165C6.00904 9 5.51274 9 5.11461 9.1833C4.76381 9.34481 4.46727 9.60444 4.26081 9.93082C4.0265 10.3012 3.96091 10.7932 3.82972 11.7771L3 18M21 18H3M21 18V19.4C21 19.9601 21 20.2401 20.891 20.454C20.7951 20.6422 20.6422 20.7951 20.454 20.891C20.2401 21 19.9601 21 19.4 21H4.6C4.03995 21 3.75992 21 3.54601 20.891C3.35785 20.7951 3.20487 20.6422 3.10899 20.454C3 20.2401 3 19.9601 3 19.4V18M7.5 12V12.01M10.5 12V12.01M9 15V15.01M12 15V15.01M15 15V15.01M13.5 12V12.01M16.5 12V12.01M9 9V6M5.8 6H12.2C12.48 6 12.62 6 12.727 5.9455C12.8211 5.89757 12.8976 5.82108 12.9455 5.727C13 5.62004 13 5.48003 13 5.2V3.8C13 3.51997 13 3.37996 12.9455 3.273C12.8976 3.17892 12.8211 3.10243 12.727 3.0545C12.62 3 12.48 3 12.2 3H5.8C5.51997 3 5.37996 3 5.273 3.0545C5.17892 3.10243 5.10243 3.17892 5.0545 3.273C5 3.37996 5 3.51997 5 3.8V5.2C5 5.48003 5 5.62004 5.0545 5.727C5.10243 5.82108 5.17892 5.89757 5.273 5.9455C5.37996 6 5.51997 6 5.8 6Z" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g></svg>
                                    <p>Caja</p>
                                </div>
                            </a>
                        }
                        @*<a href="/HistorialCitas" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <g id="Navigation / Building_03"> <path id="Vector" d="M2 20H4M4 20H15M4 20V14.3682C4 13.8428 4 13.58 4.063 13.335C4.11883 13.1178 4.21073 12.9118 4.33496 12.7252C4.47505 12.5147 4.67114 12.3384 5.06152 11.9877L7.3631 9.91997C8.11784 9.24192 8.49549 8.90264 8.92249 8.77393C9.29894 8.66045 9.7007 8.66045 10.0771 8.77393C10.5045 8.90275 10.8827 9.2422 11.6387 9.92139L13.9387 11.9877C14.3295 12.3388 14.5245 12.5146 14.6647 12.7252C14.7889 12.9118 14.8807 13.1178 14.9365 13.335C14.9995 13.58 15 13.8428 15 14.3682V20M15 20H20M20 20H22M20 20V7.19691C20 6.07899 20 5.5192 19.7822 5.0918C19.5905 4.71547 19.2837 4.40973 18.9074 4.21799C18.4796 4 17.9203 4 16.8002 4H10.2002C9.08009 4 8.51962 4 8.0918 4.21799C7.71547 4.40973 7.40973 4.71547 7.21799 5.0918C7 5.51962 7 6.08009 7 7.2002V10.0002" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g> </g></svg>
                        <p>Historial</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M7 20H4.6C4.03995 20 3.75992 20 3.54601 19.891C3.35785 19.7951 3.20487 19.6422 3.10899 19.454C3 19.2401 3 18.9601 3 18.4V9.0398C3 8.66343 3 8.47524 3.05919 8.31095C3.1115 8.16573 3.19673 8.03458 3.30819 7.9278C3.43428 7.80699 3.60625 7.73056 3.95018 7.5777L12 4L20.0498 7.5777C20.3938 7.73056 20.5657 7.80699 20.6918 7.9278C20.8033 8.03458 20.8885 8.16573 20.9408 8.31095C21 8.47524 21 8.66343 21 9.0398V18.4C21 18.9601 21 19.2401 20.891 19.454C20.7951 19.6422 20.6422 19.7951 20.454 19.891C20.2401 20 19.9601 20 19.4 20H17M7 20H17M7 20V14M17 20V14M7 14V10H17V14M7 14H17" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g></svg>
                        <p>Taller</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <title>maintenance</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Combined-Shape" fill="#FFF" transform="translate(42.666667, 42.666667)"> <path d="M128,7.10542736e-15 C198.692448,7.10542736e-15 256,57.307552 256,128 C256,140.931179 254.082471,153.414494 250.516246,165.181113 L384,298.666667 C407.564149,322.230816 407.564149,360.435851 384,384 C360.435851,407.564149 322.230816,407.564149 298.666667,384 L165.181113,250.516246 C153.414494,254.082471 140.931179,256 128,256 C57.307552,256 7.10542736e-15,198.692448 7.10542736e-15,128 C7.10542736e-15,114.357909 2.13416363,101.214278 6.08683609,88.884763 L66.6347809,149.333333 L126.649,129.346 L129.329,126.666 L149.333333,66.7080586 L88.7145729,6.14152881 C101.0933,2.15385405 114.29512,7.10542736e-15 128,7.10542736e-15 Z"> </path> </g> </g> </g></svg>
                        <p>Mantenimiento</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg fill="#FFF" viewBox="-5.03 0 32.406 32.406" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <g transform="translate(-549.634 -578.31)"> <path d="M569.84,610.716H551.781a2.149,2.149,0,0,1-2.147-2.147V580.478a2.152,2.152,0,0,1,2.142-2.146l11.522-.021,8.688,8.708v21.55A2.149,2.149,0,0,1,569.84,610.716Zm-7.37-30.4-10.689.019a.148.148,0,0,0-.147.146v28.091a.147.147,0,0,0,.147.147H569.84a.147.147,0,0,0,.146-.147V587.845Z" /> <path d="M570.986,588.432h-.013l-7.176-.09a2.032,2.032,0,0,1-2-2.055l.09-6.987a.975.975,0,0,1,1.013-.988,1,1,0,0,1,.987,1.013l-.09,6.986,7.205.121a1,1,0,0,1-.013,2Z" /> <path d="M566.89,593h-12.1a1,1,0,0,1,0-2h12.1a1,1,0,0,1,0,2Z" /> <path d="M566.89,598.542h-12.1a1,1,0,0,1,0-2h12.1a1,1,0,0,1,0,2Z" /> <path d="M566.89,604.084h-12.1a1,1,0,0,1,0-2h12.1a1,1,0,0,1,0,2Z" /> </g> </g></svg>
                        <p>Reportes</p>
                        </div>
                        </a>
                        <a href="#" class="sb-aside-item">
                        <div class="sb-aside-item-bloc">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.73169L19.5 5.39836V12.75C19.5 15.6371 17.5419 18.9972 12.2605 20.9533L12 21.0498L11.7395 20.9533C6.45811 18.9972 4.5 15.6371 4.5 12.75V5.39836L12 3.73169ZM6 6.60161V12.75C6 14.8245 7.3659 17.6481 12 19.4479C16.6341 17.6481 18 14.8245 18 12.75V6.60161L12 5.26828L6 6.60161Z" fill="#FFF" /> </g></svg>
                        <p>Seguridad</p>
                        </div>
                        </a>*@
                    </div>
                    <div class="sb-aside-logoff">
                        <div class="sb-aside-logoff-bloc">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" /><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" /><g id="SVGRepo_iconCarrier"> <path d="M10.0303 8.96965C9.73741 8.67676 9.26253 8.67676 8.96964 8.96965C8.67675 9.26255 8.67675 9.73742 8.96964 10.0303L10.9393 12L8.96966 13.9697C8.67677 14.2625 8.67677 14.7374 8.96966 15.0303C9.26255 15.3232 9.73743 15.3232 10.0303 15.0303L12 13.0607L13.9696 15.0303C14.2625 15.3232 14.7374 15.3232 15.0303 15.0303C15.3232 14.7374 15.3232 14.2625 15.0303 13.9696L13.0606 12L15.0303 10.0303C15.3232 9.73744 15.3232 9.26257 15.0303 8.96968C14.7374 8.67678 14.2625 8.67678 13.9696 8.96968L12 10.9393L10.0303 8.96965Z" fill="#FFF" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z" fill="#FFF" /> </g></svg>
                            <p>Cerrar Sesión</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sb-admninistrator active-fondo-oscuro">

            @RenderBody()

        </div>

        <div class="sb-alert-off">
            <div class="sb-alert-off-block">
                <p>¿Estas seguro de Cerrar Sesión?</p>
                <div class="sb-alert-off-buttons">
                    <div class="sb-alert-off-button-yes btnCloseSession">
                        <p>Si</p>
                    </div>
                    <div class="sb-alert-off-button-no">
                        <p>No</p>
                    </div>
                </div>
                <div class="sb-alert-off-block-cross">
                    <p>x</p>
                </div>
            </div>
        </div>

    </div>

    @* SB-Administador - Fin *@

    <div id="main-wrapper" style="display:none;">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <b>
                            @*<img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />*@
                            <h2 class="dark-logo" style="font-weight: bold; display: contents;">&nbsp;</h2>
                            <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>

                        <span>
                            @*<img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />*@
                            <h3 class="dark-logo" style="display: contents;"><b>PSYCO</b>&nbsp;APP</h3>
                            <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>

                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"><i class="mdi mdi-menu"></i></a></li>
                        <li class="nav-item"><a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"><i class="ti-menu"></i></a></li>

                        <li id="buscador" class="nav-item search-box" onclick="abrir_buscador()">
                            <a class="nav-link text-muted waves-effect waves-dark"><i class="ti-search"></i></a>
                            <div class="app-search ui-widget">
                                <input id="txt_buscar_articulo" type="text" class="form-control" placeholder="Buscar artículo">
                                <a class="srh-btn"><i class="ti-close"></i></a>
                            </div>
                        </li>

                        <li class="nav-item dropdown mega-dropdown hide-element">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                            <div class="dropdown-menu scale-up-left">
                                <ul class="mega-dropdown-menu row">
                                    <li class="col-lg-3 col-xlg-2 m-b-30">
                                        <h4 class="m-b-20">CAROUSEL</h4>
                                        <!-- CAROUSEL -->
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div class="container">
                                                        <img class="d-block img-fluid" src="../assets/images/big/img1.jpg" alt="First slide">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                        <img class="d-block img-fluid" src="../assets/images/big/img2.jpg" alt="Second slide">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                        <img class="d-block img-fluid" src="../assets/images/big/img3.jpg" alt="Third slide">
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span> </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span> </a>
                                        </div>
                                        <!-- End CAROUSEL -->
                                    </li>
                                    <li class="col-lg-3 m-b-30">
                                        <h4 class="m-b-20">ACCORDION</h4>

                                    </li>
                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-4 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>You can give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>Another Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>Forth link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>Another fifth link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown hide-element">
                            <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-message"></i>
                                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5>
                                                    <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5>
                                                    <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5>
                                                    <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5>
                                                    <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"><strong>Check all notifications</strong> <i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item dropdown hide-element">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                            </a>
                            <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="~/images/user.png" alt="user" class="img-circle">
                                                    <span class="profile-status online pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5>
                                                    <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../assets/images/users/2.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status busy pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Sonu Nigam</h5>
                                                    <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../assets/images/users/3.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status away pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Arijit Sinh</h5>
                                                    <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../assets/images/users/4.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status offline pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5>
                                                    <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"><strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/user.png" alt="user" class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img">
                                                <img src="~/images/user.png" alt="user">
                                            </div>
                                            <div class="u-text">
                                                <h4 id="lbl_nomApe2" runat="server">¡Hola!</h4>
                                                <p class="text-muted" id="lbl_TipoUsuario" runat="server">@Model.DynamicData.nombres @Model.DynamicData.apellidos</p>
                                            </div>
                                        </div>
                                    </li>
                                    @*<li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i>&nbsp;Mi&nbsp;perfil</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i>&nbsp;My&nbsp;Balance</a></li>
                                    <li><a href="#"><i class="ti-email"></i>&nbsp;Inbox</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-settings"></i>&nbsp;Configuración</a></li>
                                    <li role="separator" class="divider"></li>*@
                                    <li>
                                        <button id="btnCloseSession01" class="btnCloseSession" type="button"><i class="fa fa-sign-out"></i>&nbsp;Salir</button>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar second_color" data-scroll-to-active="true">
            <div class="scroll-sidebar">
                <div class="user-profile main_color">
                    <div class="profile-img">
                        @*<img src="assets/images/users/profile.png" alt="user" />*@
                        <img src="~/images/user.png" alt="user" />
                    </div>
                    <div class="profile-text">
                        <a id="lbl_nomApe" runat="server" href="javascript:void(0)" class="dropdown-toggle u-dropdown" data-togglee="dropdown" role="button" aria-haspopup="false" aria-expanded="false"></a>
                    </div>
                </div>

                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                    </ul>
                </nav>
            </div>

            <div class="sidebar-footer hide-element">
                <a href="" class="link" data-toggle="tooltip" title="Configuración"><i class="ti-settings"></i></a>
                <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <button id="btnCloseSession02" class="btnCloseSession" data-toggle="tooltip" title="Cerrar&nbsp;sesión" type="button"><i class="mdi mdi-power"></i></button>
            </div>
        </aside>

        <div class="page-wrapper" style="padding-bottom: 0px !important;">
            <div class="container-fluid" style="overflow: auto;">
                <div id="ChatButton" class="floating-wpp" style="right: 15px; left: auto; ">
                    <div class="floating-wpp-button" style="width: 72px; height: 72px;">
                        <img id="img_chat" src="" style="background-color: #FFF;">
                        <div class="floating-wpp-button-image"></div>
                    </div>
                </div>


            </div>

            <footer class="footer hide-element">&copy; @DateTime.Now.Year</footer>
        </div>
    </div>

    <div id="mdl_chat" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document" style="height: 90% !important;">
            <div class="modal-content" style="height: 100% !important;">
                <div class="modal-header second_color">
                    <h5 class="modal-title" style="color: #FFFFFF; font-weight: bold;">Chat</h5>
                    <button id="btn_min_chat" type="button" class="close" aria-label="Close" style="outline: none; cursor: pointer; color: #FFFFFF; font-weight: bold;">
                        <span>&minus;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 0px !important; height: 80%; width: 100%; ">

                    <div class="chat-right-aside" style="height: 100% !important;">
                        <div class="chat-rbox" style="height: calc(100% - 90px); overflow-y: auto !important;">
                            <a id="go" href="#chat" class="hide-element">GO</a>
                            <ul class="chat-list p-20" id="card_chat">
                            </ul>
                            <div id="chat" style="height: 1px !important;">&nbsp;</div>
                        </div>
                        <div class="card-body b-t" style="bottom: 0; position: fixed; width: 100%; height: 90px !important;">
                            <div class="input-group">
                                @*<div class="col-8">*@
                                <input type="text" placeholder="Mensaje..." class="form-control b-0 type_msg" id="txtMessage" />
                                @*</div>*@
                                @*<div class="col-4 text-right">
                                <button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-paper-plane-o"></i> </button>
                                </div>*@
                                <div id="div_speak" class="input-group-append">
                                    <span id="btn_speak" class="input-group-text chat_btn" style="border-radius: 0 0 0 0 !important;"><i class="fa fa-microphone"></i></span>
                                </div>

                                <div id="div_send" class="input-group-append">
                                    <span class="input-group-text chat_btn"><i class="fa fa-send"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*<div id="mdl_chat" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document" style="height: 90% !important;">
    <div class="modal-content" style="height: 100% !important;">
    <div class="modal-header">
    <h5 class="modal-title">Chatea con Watson</h5>
    <button id="btn_min_chat" type="button" class="close" aria-label="Close" style="outline: none; cursor: pointer;">
    <span>&minus;</span>
    </button>
    </div>
    <div class="modal-body" style="padding: 0px !important; height: 80%; width: 100%; ">

    <div class="col-md-12 col-xl-12 chat" style="height: 100%;">
    <div class="card" style="overflow-y: auto;">
    <div id="card_chat" class="card-body msg_card_body">
    </div>

    </div>
    </div>

    </div>

    <div class="modal-footer">
    <div class="input-group">
    <input id="txtMessage" name="" class="form-control type_msg" placeholder="Escribe un mensaje..." autocomplete="off" />

    <div id="div_speak" class="input-group-append">
    <span id="btn_speak" class="input-group-text chat_btn" style="border-radius: 0 0 0 0 !important;"><i class="fa fa-microphone"></i></span>
    </div>

    <div id="div_send" class="input-group-append">
    <span class="input-group-text chat_btn"><i class="fa fa-send"></i></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@

    <div id="mdl_saludo_chatbot" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" style="height: 90%; display: grid; place-items: center;">
            <div class="modal-content" style=" background-color: transparent; border: transparent;">
                <div class="modal-header" style="background-color: transparent;">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" style="opacity: 1 !important; outline: none !important; z-index: 100;">
                        <span aria-hidden="true">
                            <img id="img_modal_bienvenida" src="~/images/happy_chatbot.png" style="margin-bottom: -50px;" />
                        </span>
                    </button>
                </div>
                <div id="body_mdl_bienvenida" class="modal-body" style="background-color: #FFF;">
                    <h3>Bienvenid&#64; @Model.DynamicData.nombres!!</h3>
                    <p>Yo soy <b>Watson</b> y soy el encargado de resolver cualquier duda que tengas.</p>
                    <p>¿Hay algo en lo que pueda ayudarte?</p>
                </div>
                <div id="footer_mdl_bienvenida" class="modal-footer" style="background-color: #FFF;">
                    <button type="button" class="btn btn-primary main_color" onclick="respuesta_saludo_chat('SI')">¡Claro que si!</button>
                    <button type="button" class="btn btn-secondary" onclick="respuesta_saludo_chat('NO')">Tal vez después</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdl_archivos" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document" style="height: 90% !important; width: 96%; max-width: 96%;">
            <div class="modal-content" style="height: 100% !important;">
                <div class="modal-header" style="background-color: transparent;">
                    <h5 class="modal-title">Recibos</h5>
                </div>
                <div class="modal-body" style="padding: 0px !important; height: 80%; width: 100%; ">
                    <div class="row">
                        <div class="col-lg-6" id="div_lista_archivos"></div>
                        <div class="col-lg-6">
                            <iframe id="frame_archivo" src="" height="600px" width="100%"></iframe>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style=" z-index: 10000; background-color: #FFF;">
                    <button type="button" class="btn btn-primary main_color" onclick="$('#mdl_archivos').modal('hide');">VOLVER</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdl_encuesta" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="background-color: transparent;">
                    <h5 class="modal-title">Encuesta</h5>
                </div>
                <div class="modal-body" style="overflow-y: auto; width: 100%;">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>¿Recomendaria a sus amigos/familiares ser atendidos por nuestro chatbot?</p>
                            <p>En una escala del 1 al 10, en donde 1 no se encuentra conforme con nuestro chatbot y 10 se encuentra totalmente de acuerdo en recomendarnos.</p>
                            <br />
                            <div style="display: flex;">
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(1)"><span class="puntuacion">1</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(2)"><span class="puntuacion">2</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(3)"><span class="puntuacion">3</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(4)"><span class="puntuacion">4</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(5)"><span class="puntuacion">5</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(6)"><span class="puntuacion">6</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(7)"><span class="puntuacion">7</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(8)"><span class="puntuacion">8</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(9)"><span class="puntuacion">9</span></div>
                                <div class="puntuacion_parent" onclick="registrar_puntuacion(10)"><span class="puntuacion">10</span></div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mdl_articulo" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document" style="height: 90% !important; width: 96%; max-width: 96%;">
            <div class="modal-content" style="height: 100% !important;">
                <div class="modal-header" style="background-color: transparent;">
                    <h5 class="modal-title">&nbsp;</h5>
                </div>
                <div class="modal-body" style="overflow-y: auto; width: 100%;">
                    <div class="row">
                        <div class="col-lg-12" id="div_articulo"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary main_color" onclick="$('#mdl_articulo').modal('hide');">VOLVER</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdl_sede" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-md" role="document" style="height: 90%; display: grid; place-items: center;">
            <div class="modal-content sb-reg-citas-popup-container">
                <div class="modal-header sb-reg-citas-popup-title">
                    <h5 class="modal-title">Selección de centro</h5>
                </div>
                <div class="modal-body sb-reg-citas-popup-body">

                    <div class="sb-reg-citas-popup-tab-panel">

                        <div class="sb-reg-citas-popup-tab-panel-block">
                            <div class="sb-reg-citas-popup-tab-panel-block-item">
                                <span class="label-form">Centro</span>
                                <select class="form-control" id="cboSedeChange"></select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="guardar_sede()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdl_config_caja" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-md" role="document" style="height: 90%; display: grid; place-items: center;">
            <div class="modal-content sb-reg-citas-popup-container">
                <div class="modal-header sb-reg-citas-popup-title">
                    <h5 class="modal-title">Apertura/cierre de caja</h5>
                </div>
                <div class="modal-body sb-reg-citas-popup-body">
                    <div class="sb-reg-citas-popup-tab-panel">
                        <div class="sb-reg-citas-popup-tab-panel-block">
                            <div class="sb-reg-citas-popup-tab-panel-block-item">
                                <span class="label-form" id="spnConfigCaja"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="ActualizarConfigCaja()">Aceptar</button>
                    <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="$('#mdl_config_caja').modal('hide')">Volver</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdl_cambio_pwd" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-md" role="document" style="height: 90%; display: grid; place-items: center;">
            <div class="modal-content sb-reg-citas-popup-container">
                <div class="modal-header sb-reg-citas-popup-title">
                    <h5 class="modal-title">Actualización de contraseña</h5>
                </div>
                <div class="modal-body sb-reg-citas-popup-body">
                    <div class="sb-reg-citas-popup-tab-panel">
                        <div class="sb-reg-citas-popup-tab-panel-block">
                            <div class="sb-reg-citas-popup-tab-panel-block-item">
                                <span class="label-form" id="">DNI:</span>
                                @if ((int)@Model.DynamicData.id_tipousuario == 1) /*ADMIN*/
                                {
                                    <input id="txtDniBuscar" type="text" class="form-control" value="" maxlength="8" onkeypress="return onlyNumberKey(event)" />
                                }
                                else
                                {
                                    <input id="txtDniBuscar" type="text" class="form-control" value="@Model.DynamicData.num_documento" disabled="disabled" style="background-color: #ffffff; color: #000000;" />
                                }
                            </div>
                            <div class="sb-reg-citas-popup-tab-panel-block-item">
                                <span class="label-form" id="">Contraseña:</span>
                                <input id="txtPwd1" type="text" class="form-control" value="" />
                            </div>
                            <div class="sb-reg-citas-popup-tab-panel-block-item">
                                <span class="label-form" id="">Repetir contraseña:</span>
                                <input id="txtPwd2" type="text" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="ActualizarContraseña()">Actualizar</button>
                    <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="$('#mdl_cambio_pwd').modal('hide')">Volver</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JS FUNCTIONS -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/scripts/plugins/file-upload2019/jquery.ui.widget.js"></script>
    <script src="~/assets/scripts/plugins/file-upload2019/jquery.iframe-transport.js"></script>
    <script src="~/assets/scripts/plugins/file-upload2019/jquery.fileupload.js"></script>

    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/sidebarmenu.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/custom.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>

    @* Script sb-home *@

    <script src="~/src/js/sb-main.js?ver=002"></script>
    <script src="~/src/plugin/sweetalert2/js/sweetalert2.all.min.js"></script>

    @* Script sb-home Fin *@


    @*<script src="~/assets/plugins/chartist-js/dist/chartist.min.js"></script>*@
    @*<script src="~/assets/plugins/d3/d3.min.js"></script>*@
    @*<script src="~/assets/plugins/c3-master/c3.min.js"></script>*@
    @*<script src="~/assets/js/dashboard1.js"></script>*@

    @* <script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script> *@
    <script type="text/javascript">
        function alerta(text, type) {
            !function ($) {
                "use strict";
                var SweetAlert = function () { };

                SweetAlert.prototype.init = function () {
                    //Auto Close Timer
                    //$('#sa-close').click(function () {
                    swal({
                        title: "Auto close alert!",
                        type: type,
                        text: text,
                        timer: 2000,
                        showConfirmButton: false,
                        allowEscapeKey: false
                    });
                    //});
                },
                    //init
                    $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert
            }(window.jQuery),

                //initializing
                function ($) {
                    "use strict";
                    $.SweetAlert.init()
                }(window.jQuery);
        }

        const navbar_mn = document.querySelector('.sb-aside-reponsive-top-menu');
        const navbar_mn_list = document.querySelector('.sb-aside-reponsive-menu');
        const scroll_btn = document.querySelector('.bck_scroll');
        window.addEventListener("load", function (event) {

            navbar_mn.addEventListener("click", (e) => {

                var list_class = navbar_mn_list.classList[1];

                if (list_class === 'desplegado') {
                    navbar_mn_list.classList.remove("desplegado");
                    document.body.style.overflowY = 'scroll';
                }
                else {
                    if (list_class !== 'desplegado') {
                        navbar_mn_list.classList.add("desplegado");
                        document.body.style.overflowY = 'hidden';
                    }

                }
            });
        });



    </script>

    @*<script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>*@

    <script type="text/javascript">
        var ruta = '@Model.DynamicData.path';
        var call_center = '@Model.DynamicData.call_center';
        var whatsapp = '@Model.DynamicData.whatsapp';
        var id_usuario = '@Model.DynamicData.id_usuario';
        var id_tipousuario = '@Model.DynamicData.id_tipousuario';
        var id_psicologo = '@Model.DynamicData.id_psicologo';
        var tipo_documento = '@Model.DynamicData.tipo_documento';
        var num_documento = '@Model.DynamicData.num_documento';
    </script>

    <script type="text/javascript" src="~/basic/general.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script type="text/javascript" src="~/basic/check_timeout_session.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script type="text/javascript" src="~/basic/layout.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    @{
        if (Model.DynamicData.vista == "HOME")
        {
                <script>
                    function guardar_sede() {
                        var id_sede = $('#cboSedeChange').val();

                        if (id_sede == -1) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Seleccione el centro en el que se encuentra."
                            });
                            return;
                        }

                        $.ajax({
                            url: "/RegistroCitas/guardar_sede_sesion?id_sede=" + id_sede,
                            type: "GET",
                            data: {},
                            async: false,
                            success: function (data) {
                                if (data.estado) {
                                    Swal.fire({
                                        icon: "success",
                                        text: "Centro guardado exitosamente."
                                    });
                                    $('#mdl_sede').modal('hide');
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: data.descripcion
                                    });
                                }
                            },
                            error: function (response) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Ocurrió un error al guardar el centro."
                                });
                            }
                        });
                    }
                </script>
        }
        else if (Model.DynamicData.vista == "CAJA")
        {
                <script src="~/assets/plugins/flot/excanvas.js"></script>
                <script src="~/assets/plugins/flot/jquery.flot.js"></script>
                <script src="~/assets/plugins/flot/jquery.flot.pie.js"></script>
                <script src="~/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

                <script src="~/assets/plugins/raphael/raphael-min.js"></script>
                <script src="~/assets/plugins/morrisjs/morris.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
                <script type="text/javascript" src="~/basic/caja.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>

                <script src="~/assets/plugins/echarts/echarts-all.js"></script>
        }

            <script>
                var key = '';
                var value = '';
                var config = [];

                function obtenerConfig() {
                    $.ajax({
                        url: "/Home/ObtenerConfiguracion",
                        type: "GET",
                        async: false,
                        success: function (data) {
                            config = data;
                        },
                        error: function (response) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Ocurrió un error al obtener la información."
                            });
                        }
                    });
                }
                obtenerConfig();

                function ConfigCaja() {
                    if (config.length > 0) {
                        $('#mdl_config_caja').modal('show');
                        for (var item of config) {
                            if (item.configKey == 'CAJA') {
                                key = 'CAJA';
                                value = item.configValue;

                                $('#spnConfigCaja').html(value == '1' ? 'La caja se encuentra habilitada, ¿desea deshabilitarla?' : 'La caja se encuentra deshabilitada, ¿desea habilitarla?');
                            }
                        }
                    }
                }

                function ActualizarConfigCaja() {
                    ActualizarConfiguracion(key, value);
                }

                function ConfigCambioPwd() {
                    if ($('#hdnIdTipoUsuario').val() == '1')
                    {
                        $('#txtDniBuscar').val('');
                    }
                    $('#txtPwd1, #txtPwd2').val('');
                    $('#mdl_cambio_pwd').modal('show');
                }

                function ActualizarContraseña(){
                    var dni = $('#txtDniBuscar').val().trim();
                    var pwd1 = $('#txtPwd1').val().trim();
                    var pwd2 = $('#txtPwd2').val().trim();

                    if (dni == ''){
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Ingrese el DNI."
                        });
                        return;
                    }

                    if (dni.length < 8){
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "El DNI no es válido."
                        });
                        return;
                    }

                    if (pwd1 == ''){
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Ingrese la nueva contraseña."
                        });
                        return;
                    }

                    if (pwd2 == ''){
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Repita la nueva contraseña."
                        });
                        return;
                    }

                    if (pwd1 != pwd2){
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Las contraseñas no coinciden."
                        });
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Login/actualizar_password",
                    data: { "email": dni, "password": pwd1, "nuevo_pass1": pwd1 },
                        accept: 'application/json',
                        beforeSend: function () {
                            $('.preloader').removeAttr('style');
                        },
                        success: function (response) {
                            $('.preloader').attr('style', 'display: none');

                            if (response.estado) {
                                $('#mdl_cambio_pwd').modal('hide');
                                Swal.fire({
                                    icon: "success",
                                    text: "Contraseña actualizada."
                                });
                            } else {
                                Swal.fire({
                                    icon: "Error",
                                    title: "Oops...",
                                    text: response.descripcion,
                                });
                            }
                        }
                    });
                }

                $('#txtDniBuscar').on('input', function () { 
                    $(this).val($(this).val().trim());
                })

                function onlyNumberKey(evt) {
                    let ASCIICode = (evt.which) ? evt.which : evt.keyCode
                    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                        return false;
                    return true;
                }

                function ActualizarConfiguracion(key, value) {
                    $.ajax({
                        url: "/Home/ActualizarConfig?key=" + key + "&value=" + value,
                        type: "GET",
                        async: false,
                        success: function (data) {
                            $('#mdl_config_caja').modal('hide');
                            obtenerConfig();
                            Swal.fire({
                                icon: "success",
                                title: "Información actualizada.",
                            });
                        },
                        error: function (response) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Ocurrió un error al actualizar la información."
                            });
                        }
                    });
                }
            </script>

        // <script type="text/javascript" src="~/basic/voz.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
        // <script type="text/javascript" src="~/basic/call.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
        // <script type="text/javascript" src="~/basic/whatsapp.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
        // <script type="text/javascript" src="~/basic/chat.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
        // if (Model.DynamicData.vista == "ATENCION")
        // {
        //     <script type="text/javascript" src="~/basic/atencion.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
        // }
        // <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        // <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    }
    @RenderSection("scripts", required: false)

</body>
</html>