@model ViewModelContainer<IEnumerable<PsycoApp.site.Models.Psicologo>>
@{
    var dynamicData = Model.DynamicData;
    var psicologos = Model.Model;
    var ubigeos = dynamicData.ubigeos;
    ViewData["Title"] = "Psicólogos";
}

<!-- SB - STYLE -->
<link rel="stylesheet" href="~/src/css/sb-pacientes.css" />

<div class="bd-example">
    <div class="row">
        <div class="col-12">
            <p style="color: #004A92; font-size: 20px;">Búsqueda y registro de psicólogos</p>
        </div>

        <!-- Campo de búsqueda por nombre -->
        <div class="col-12">
            <div class="form-group">
                <span class="label-form">Nombre del psicólogo</span><br />
                <input id="txtBuscarNombre" class="form-control" type="text" placeholder="Ingrese nombre para buscar" />
            </div>
            <button type="button" class="btn btn-doc second_color" style="color: #FFF; font-size: 12px;" onclick="buscarPsicologo()">
                <i class="fa fa-search"></i>&nbsp;Buscar
            </button>
            <button type="button" class="btn btn-primary main_color" style="color: #FFF; font-size: 12px;" onclick="mostrarFormularioAgregar()">
                <i class="fa fa-plus"></i>&nbsp;Agregar
            </button>
        </div>

        <div class="col-12">&nbsp;</div>

        <!-- Contenedor de la tabla que se mostrará al hacer clic en "Buscar" -->
        <div id="containerTabla" class="container">
            <div class="row" style="background-color: #FFFFFF;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0px; padding-right: 0px; width: 100%!important;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 80px;">#</th>
                                <th class="text-center">Psicólogo</th>
                                <th class="text-center">Fecha de nacimiento</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody id="bdPsicologos">
                            @foreach (var psicologo in psicologos.Select((item, index) => (item, index)))
                            {
                                <tr>
                                    <td class="text-center">@(psicologo.index + 1)</td>
                                    <td class="text-center">@psicologo.item.Nombre</td>
                                    <td class="text-center">@psicologo.item.FechaNacimiento.ToString().Substring(0, 10)</td>
                                    <td class="text-center">@(psicologo.item.Estado == "1" ? "Habilitado" : "Deshabilitado")</td>
                                    <td class="text-center">
                                        <button class="btn btn-warning" onclick="editarPsicologo(@psicologo.item.Id)">Editar</button>
                                        <button class="btn btn-danger" onclick="eliminarPsicologo(@psicologo.item.Id, @psicologo.item.Estado)">@(psicologo.item.Estado == "1" ? "Deshabilitar" : "Habilitar")</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Paginación -->

            <div class="pagination-container text-center">
                <ul class="pagination">
                    @if (ViewBag.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Mantenimiento/Psicologo?pageNumber=@(ViewBag.PageNumber - 1)&pageSize=@ViewBag.PageSize">
                                Anterior
                            </a>
                        </li>
                    }

                    <li class="page-item active">
                        <a class="page-link" href="#">@ViewBag.PageNumber</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="/Mantenimiento/Psicologo?pageNumber=@(ViewBag.PageNumber + 1)&pageSize=@ViewBag.PageSize">
                            Siguiente
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Contenedor de formulario para agregar/editar psicologo -->
<div id="containerFormulario" class="container sb-pa-container-agregar" style="display: none;">
    <div class="sb-pa-container-agregar-popup">

        <p>Agregar psicólogo</p>

        <form id="formPsicologo">
            <input type="hidden" id="hdnPsicologoId" name="Id" />

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Nombres y Apellidos completos</span>
                    <input id="txtNombre" name="Nombre" class="form-control" type="text" required />
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Fecha de nacimiento</span>
                    <input id="txtFecha" name="FechaNacimiento" class="form-control" type="date" required />
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Estado</span>
                    <select class="form-control" id="cboEstado" name="Estado" required>
                        <option value="-1">Seleccionar</option>
                        <option value="1">Habilitado</option>
                        <option value="0">Deshabilitado</option>
                    </select>
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Especialidad</span>
                    <select class="form-control" id="cboEspecialidad" name="Especialidad" required>
                        <option value="-1">Seleccionar</option>
                        <option value="1">Niños</option>
                        <option value="2">Jóvenes</option>
                        <option value="2">Adultos</option>
                        <option value="3">Parejas</option>
                    </select>
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Dirección</span>
                    <input id="txtDireccion" name="Direccion" class="form-control" type="text" required />
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Distrito</span>
                    @Html.DropDownList("cboDistrito", new SelectList(ubigeos, "CodUbigeo", "Distrito"), new { @class = "form-control" })
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Documento</span>
                    <select class="form-control" id="cboDocumento" name="DocumentoTipo" required>
                        <option value="-1">Seleccionar</option>
                        <option value="1">DNI</option>
                        <option value="2">Carnet Extranjeria</option>
                    </select>
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Número de documento</span>
                    <input id="txtDocumento" name="DocumentoNumero" class="form-control" type="text" required />
                </div>
            </div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Teléfono</span>
                    <input id="txtTelefono" name="Telefono" class="form-control" type="text" />
                </div>
            </div>

            <div class="col-12">&nbsp;</div>

            <div class="sb-frm-agregar-block">
                <div class="sb-frm-agregar-block-item">
                    <span class="label-form">Estudios</span>
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 80px;">#</th>
                                        <th class="text-center">Grado de instrucción</th>
                                        <th class="text-center">Institución</th>
                                        <th class="text-center">Carrera/especialidad</th>
                                        <th class="text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="bdEstudios"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sb-frm-agregar-block-button text-right">
                <button type="button" class="btn btn-success" onclick="guardarPsicologo()">Guardar</button>
                <button type="button" class="btn btn-secondary" onclick="cancelarFormulario()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var global_estudios = [];

        function resetearEstudios() {
            global_estudios = [{
                id: 0,
                idPsicologo: 0,
                gradoAcademico: -1,
                institucion: -1,
                carrera: -1
            }];
        }
        resetearEstudios();

        function buscarPsicologo() {
            let nombre = document.getElementById('txtBuscarNombre').value;
            $.post('/Mantenimiento/Psicologo/Buscar', { nombre: nombre }, function (data) {
                let tableBody = $('#bdPsicologos');
                tableBody.empty();
                data.forEach((psicologo, index) => {
                    tableBody.append(`
                                <tr>
                                    <td class="text-center">${index + 1}</td>
                                    <td class="text-center">${psicologo.nombre}</td>
                                    <td class="text-center">${formatFechaNacimiento(psicologo.fechaNacimiento)}</td>
                                    <td class="text-center">${psicologo.estado == "1" ? "Habilitado" : "Deshabilitado"}</td>
                                    <td class="text-center">
                                        <button class="btn btn-warning" onclick="editarPsicologo(${psicologo.id})">Editar</button>
                                                <button class="btn btn-danger" onclick="eliminarPsicologo(${psicologo.id}, '${psicologo.estado}')">${psicologo.estado == "1" ? "Deshabilitar" : "Habilitar"}</button>
                                    </td>
                                </tr>
                            `);
                });
                $('#containerTabla').show();
            });
        }

        function mostrarFormularioAgregar() {
            resetearEstudios();
            $('#containerFormulario').css('display', 'flex');
            $('#containerFormulario input').val('');
            $('#containerFormulario select').val('-1');

            listarEstudios([{ id: 0, idPsicologo: 0, gradoAcademico: -1, institucion: -1, carrera: -1 }], 0);
        }

        function editarPsicologo(id) {
            $.get(`/Mantenimiento/Psicologo/Get/${id}`, function (psicologo) {
                $('#hdnPsicologoId').val(psicologo.id);
                $('#txtNombre').val(psicologo.nombre);
                $('#txtFecha').val(psicologo.fechaNacimiento.substring(0, 10));
                $('#cboEstado').val(psicologo.estado);
                $('#cboDocumento').val(psicologo.documentoTipo);
                $('#txtDocumento').val(psicologo.documentoNumero);
                $('#txtTelefono').val(psicologo.telefono);
                $('#cboEspecialidad').val(psicologo.especialidad);
                $('#txtDireccion').val(psicologo.direccion);
                $('#cboDistrito').val(psicologo.distrito);

                listarEstudios(psicologo.estudios, psicologo.id);
                global_estudios = psicologo.estudios;

                $('#containerFormulario').css('display', 'flex');
            });
        }

        function listarEstudios(estudios, idPsicologo) {
            let tableBody = $('#bdEstudios');
            tableBody.empty();

            for (var i = 0; i < estudios.length; i++) {
                var correlativoId = (i + 1).toString();
                var rowId = 'row0' + correlativoId;
                var gradoId = 'grado0' + correlativoId;
                var insId = 'ins0' + correlativoId;
                var carrId = 'carr0' + correlativoId;

                tableBody.append(`
                            <tr class="rowTbl" id="${rowId}">
                                <td class="text-center">${correlativoId}</td>
                                <td class="text-center">
                                    <select class="form-control grado" id="${gradoId}" onchange="actualizarValor('grado', ${i}, '${gradoId}')">
                                        <option value="-1">Seleccionar</option>
                                        <option value="1">Posgrado</option>
                                        <option value="2">Maestría</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <select class="form-control institucion" id="${insId}" onchange="actualizarValor('institucion', ${i}, '${insId}')">
                                        <option value="-1">Seleccionar</option>
                                        <option value="1">UNMSM</option>
                                        <option value="2">UPC</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <select class="form-control carrera" id="${carrId}" onchange="actualizarValor('carrera', ${i}, '${carrId}')">
                                        <option value="-1">Seleccionar</option>
                                        <option value="1">Psicología 1</option>
                                        <option value="2">Psicología 2</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm${(correlativoId == '1' ? ' hide' : '')}" title="Eliminar estudio" type="button" onclick="eliminarEstudio('${rowId}', ${i}, ${idPsicologo})">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                    <button class="btn btn-primary btn-sm main_color${(correlativoId != '1' ? ' hide' : '')}" title="Nuevo estudio" type="button" onclick="agregarEstudio(${idPsicologo})">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        `);
                setValorComboDinamico(estudios[i].gradoAcademico, gradoId);
                setValorComboDinamico(estudios[i].institucion, insId);
                setValorComboDinamico(estudios[i].carrera, carrId);
            };
        }

        function setValorComboDinamico(valor, idCombo) {
            $('#' + idCombo).val(valor);
        }

        function actualizarValor(tipo, index, idCampo) {
            var valor = $('#' + idCampo).val();
            if (tipo == 'grado')
                global_estudios[index].gradoAcademico = valor;
            if (tipo == 'institucion')
                global_estudios[index].institucion = valor;
            if (tipo == 'carrera')
                global_estudios[index].carrera = valor;
        }

        function eliminarPsicologo(id, estado) {
            if (confirm('¿Estás seguro de que quieres ' + (estado == '1' ? 'deshabilitar' : 'habilitar') + ' este psicólogo?')) {
                $.post(`/Mantenimiento/Psicologo/Eliminar`, { id: id, estado: estado }, function (response) {
                    alert(response.message);
                    buscarPsicologo(); // Actualiza la lista después de eliminar
                });
            }
        }

        function agregarEstudio(idPsicologo) {
            global_estudios.push({
                id: 0,
                idPsicologo: idPsicologo,
                gradoAcademico: -1,
                institucion: -1,
                carrera: -1
            });
            console.log(global_estudios);
            listarEstudios(global_estudios, idPsicologo);
        }

        function eliminarEstudio(idFila, index, idPsicologo) {
            if ($('.rowTbl').length == 1) {
                alert('debes tener al menos un estudio');
                return;
            }
            $('#' + idFila).remove();
            global_estudios.splice(index, 1);
            listarEstudios(global_estudios, idPsicologo);
        }

        function guardarPsicologo() {
            let psicologo = {
                Id: parseInt($('#hdnPsicologoId').val()) || 0,
                Nombre: $('#txtNombre').val(),
                FechaNacimiento: $('#txtFecha').val(),
                Estado: $('#cboEstado').val(),
                DocumentoTipo: $('#cboDocumento').val(),
                DocumentoNumero: $('#txtDocumento').val(),
                Telefono: $('#txtTelefono').val(),
                Especialidad: parseInt($('#cboEspecialidad').val()),
                Direccion: $('#txtDireccion').val(),
                Distrito: $('#cboDistrito').val()
            };
            psicologo.estudios = obtenerEstudiosGuardar(psicologo.Id);

            let dataToSend = {
                psicologo: psicologo // Enviar dentro de un objeto "psicologo"
            };

            let url = psicologo.Id ? '/Mantenimiento/Psicologo/Editar' : '/Mantenimiento/Psicologo/Agregar';
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(dataToSend.psicologo),
                success: function (response) {
                    alert(response.message);
                    $('#containerFormulario').hide();
                    buscarPsicologo(); // Actualiza la lista después de guardar
                },
                error: function (xhr) {
                    alert('Error al guardar psicólogo.');
                }
            });
        }

        function obtenerEstudiosGuardar(idPsicologo) {
            let estudios = [];
            $('.rowTbl').each(function () {
                var grado = $(this).find('.grado').val();
                var institucion = $(this).find('.institucion').val();
                var carrera = $(this).find('.carrera').val();

                estudios.push({
                    Id: 0,
                    IdPsicologo: idPsicologo,
                    GradoAcademico: parseInt(grado),
                    Institucion: parseInt(institucion),
                    Carrera: parseInt(carrera)
                });
            });
            return estudios;
        }

        function cancelarFormulario() {
            $('#containerFormulario').hide();
        }

        function formatFechaNacimiento(fecha) {
            var dia = fecha.substring(8, 10);
            var mes = fecha.substring(5, 7);
            var año = fecha.substring(0, 4);
            return dia + "/" + mes + "/" + año;
        }
    </script>
}

@* Script sb-home *@
<script src="~/src/js/sb-main.js?ver=002"></script>
@* Script sb-home Fin *@