@model ViewModelContainer<IEnumerable<PsycoApp.site.Models.Psicologo>>
@{
    var dynamicData = Model.DynamicData;
    var psicologos = Model.Model;
    var ubigeos = dynamicData.ubigeos;
    ViewData["Title"] = "Psicólogos";
}

<!-- SB - STYLE -->

<link rel="stylesheet" href="~/src/css/sb-psicologo.css" />
<style>
    .btnDia, .btnDia:focus {
        color: #99abb4 !important;
    }
    .btnDiaSeleccionado {
        background-color: #bff9c6 !important;
    }
</style>

<div class="sb-psi-container">
   <div class="sb-psi-container-buscar">
        <div class="sb-psi-container-buscar-title">
            <p class="active-titular-modulo">Búsqueda y registro de psicólogos</p>
        </div>

        <!-- Campo de búsqueda por nombre -->
        <div class="sb-psi-container-buscador">
            <div class="sb-psi-container-buscador-block">
                <button class="active-button-modulo" type="button" onclick="mostrarFormularioAgregar()">
                    <i class="fa fa-plus"></i>&nbsp;Agregar
                </button>
            </div>
            <div class="sb-psi-container-buscador-block">
                <div class="sb-psi-container-buscador-block-item">
                    <span class="label-form active-texto-modulo">Nombre del psicólogo: </span>
                    <input id="txtBuscarNombre" class="active-input-modulo" name="Nombre" placeholder="Ingrese nombre para buscar" type="text" required />

                    <span class="label-form active-texto-modulo">Sede: </span>
                    <select class="active-input-modulo" id="cboBuscarSede">
                        <option value="-1">Todos</option>
                        <option value="1">La Molina</option>
                        <option value="2">Surco</option>
                        <option value="-2">Ambas</option>
                    </select>

                    <button class="active-button-modulo" type="button" onclick="buscarPsicologo()">
                        <i class="fa fa-search"></i>&nbsp;Buscar
                    </button>
                </div>
            </div>
        </div>

        <!-- Contenedor de la tabla -->
        <div id="containerTabla" class="sb-psi-container-table">
            <div class="row">
                <table class="table table-striped active-table-modulo">
                        <thead>
                            <tr>
                            <th class="text-center" style="width: 80px;">N°</th>
                                <th class="text-center">Nombres y apellidos</th>
                                <th class="text-center">Documento</th
                                <th class="text-center">Sede</th>
                                <th class="text-center">Fecha de nacimiento</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody id="bdPsicologos">
                            @foreach (var psicologo in psicologos.Select((item, index) => (item, index)))
                            {
                                <tr>
                                    <td class="text-center">@(psicologo.index + 1)</td>
                                    <td class="text-center">@psicologo.item.Nombre @psicologo.item.Apellido</td>
                                    <td class="text-center">@psicologo.item.DocumentoTipo - @psicologo.item.DocumentoNumero</td>
                                    <td class="text-center">@psicologo.item.Sedes</td>
                                    <td class="text-center">@psicologo.item.FechaNacimiento.ToString().Substring(0, 10)</td>
                                    <td class="text-center">@(psicologo.item.Estado == "1" ? "Habilitado" : "Deshabilitado")</td>
                                    <td class="text-center ">
                                        <div class="sb-psi-container-tble-td">
                                        <button class="btn btn-sm sb-psi-container-table-button-edit active-button-tabla-modulo" onclick="editarPsicologo(@psicologo.item.Id)">Editar</button>
                                        <button class="btn btn-sm sb-psi-container-table-button-edit active-button-tabla-modulo" onclick="modalHorarios(@psicologo.item.Id)">Horarios</button>
                                        <button class="btn btn-sm sb-psi-container-table-button-edit active-button-tabla-modulo" onclick="modalVacaciones(@psicologo.item.Id)">Vacaciones</button>
                                        <button class="btn btn-sm sb-psi-container-table-button-delet active-button-tabla-modulo" onclick="eliminarPsicologo(@psicologo.item.Id, @psicologo.item.Estado)">@(psicologo.item.Estado == "1" ? "Deshabilitar" : "Habilitar")</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>

            <!-- Paginación -->

            <div class="pagination-container text-center active-paginacion-tabla-modulo">
                <ul class="pagination">
                    @if (ViewBag.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Mantenimiento/Psicologo?pageNumber=@(ViewBag.PageNumber - 1)&pageSize=@ViewBag.PageSize">
                                &#60;
                            </a>
                        </li>
                    }

                    <li class="page-item active">
                        <a class="page-link" href="#">@ViewBag.PageNumber</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="/Mantenimiento/Psicologo?pageNumber=@(ViewBag.PageNumber + 1)&pageSize=@ViewBag.PageSize">
                            &#62;
                        </a>
                    </li>
                </ul>
            </div>
        </div>

   </div>

</div>

<!-- Contenedor de formulario para agregar/editar psicologo -->
<div id="containerFormulario" class="modal sb-psi-container-agregar" style="display: none;">

    <div class="sb-psi-container-agregar-popup active-fondo-oscuro">

        <p class="active-titular-modulo">Agregar psicólogo</p>

        <form id="formPsicologo">

            <input type="hidden" id="hdnPsicologoId" name="Id" />

            <div class="row">
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Nombres</span>
                        <input id="txtNombre" name="Nombre" class="form-control active-input-modulo" type="text" required />
                    </div>
                </div>
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Apellidos</span>
                        <input id="txtApellido" name="Apellido" class="form-control active-input-modulo" type="text" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Fecha de nacimiento</span>
                        <input id="txtFecha" name="FechaNacimiento" class="form-control active-input-modulo" type="date" required />
                    </div>
                </div>
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Teléfono</span>
                        <input id="txtTelefono" name="Telefono" class="form-control active-input-modulo" type="text" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Documento</span>
                        <select class="form-control active-select-modulo" id="cboDocumento" name="DocumentoTipo" required></select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Número de documento</span>
                        <input id="txtDocumento" name="DocumentoNumero" class="form-control active-input-modulo" type="text" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Dirección</span>
                        <input id="txtDireccion" name="Direccion" class="form-control active-input-modulo" type="text" required />
                    </div>
                </div>
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Distrito</span>
                        @Html.DropDownList("cboDistrito", new SelectList(ubigeos, "CodUbigeo", "Distrito"), new { @class = "form-control  active-select-modulo" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Especialidad</span>
                        <select class="form-control active-select-modulo" id="cboEspecialidad" name="Especialidad" required></select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Estado</span>
                        <select class="form-control active-select-modulo" id="cboEstado" name="Estado" required></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Sede principal</span>
                        <select class="form-control active-select-modulo" id="cboSedePrincipal" name="SedePrincipal" required></select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Sede opcional</span>
                        <select class="form-control active-select-modulo" id="cboSedeSecundaria" name="SedeSecundaria"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4" id="divHorario1">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Inicio labores</span>
                        <select class="form-control active-select-modulo" id="cboHorario1" name="cboHorario1" required></select>
                    </div>
                </div>
                <div class="col-4" id="divHorario2">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Fin labores</span>
                        <select class="form-control active-select-modulo" id="cboHorario2" name="cboHorario2" required></select>
                    </div>
                </div>
                <div class="col-4" id="divRefrigerio">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo">Refrigerio</span>
                        <select class="form-control active-select-modulo" id="cboRefrigerio" name="Refrigerio" required></select>
                    </div>
                </div>
            </div>

            <div class="row" id="divDescHorario">
                <div class="col-12">
                    <div class="sb-frm-psi-agregar-block-item">
                        <span class="label-form active-texto-modulo" style="font-style: italic; font-size: 12px;">(*) El horario seleccionado será registrado automáticamente para el mes actual.</span>
                    </div>
                </div>
            </div>

            <div class="sb-frm-psi-agregar-block">
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Estudios</span>
                    <div class="row">
                        <div class="col-12 sb-frm-psi-agregar-popuptable">
                            <table class="table active-table-modulo">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 80px;">N°</th>
                                        <th class="text-center">Grado de instrucción</th>
                                        <th class="text-center">Institución</th>
                                        <th class="text-center">Carrera/especialidad</th>
                                        <th class="text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="bdEstudios"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sb-frm-psi-agregar-block-button text-right">
                <button type="button" class="btn btn-success active-button-modulo" onclick="guardarPsicologo()">Guardar</button>
                <button type="button" class="btn btn-secondary active-button-modulo" onclick="cancelarFormulario()">Cancelar</button>
            </div>
        </form>

    </div>

</div>

<!--modal horarios-->
<div id="mdl_horarios" class="modal sb-psi-container-horarios" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">

    <div class="sb-psi-container-horarios-popup active-fondo-oscuro">
        <div class="sb-psi-container-horarios-popup-title">
            <p class="active-titular-modulo">Horarios</p>
        </div>

        <input id="hdnIdPsicologo" type="hidden" />

        <div class="sb-reg-citas-popup-tab-panel">
            <div class="sb-reg-citas-popup-tab-panel-item">
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Desde</span>
                    <input id="txtInicio" name="txtInicio" class="form-control active-input-modulo" type="date" required />
                </div>
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Hasta</span>
                    <input id="txtFin" name="txtFin" class="form-control active-input-modulo" type="date" required />
                </div>
            </div>
            <div class="sb-reg-citas-popup-tab-panel-item-2">
                <div class="sb-frm-psi-agregar-block-item">
                    <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver active-button-modulo" onclick="listarHorarios()">Buscar</button>
                </div>
            </div>
        </div>

        <div class="sb-reg-citas-popup-tab-panel hide-element" id="divFechasMultiple">
            <div class="sb-reg-citas-popup-tab-panel-item">
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Inicio (masivo)</span>
                    <select class="form-control active-select-modulo" id="cboInicioM" name="cboInicioM"></select>
                </div>
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Refrigerio (masivo)</span>
                    <select class="form-control active-select-modulo" id="cboRefrigerioM" name="cboRefrigerioM"></select>
                </div>
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Fin (masivo)</span>
                    <select class="form-control active-select-modulo" id="cboFinM" name="cboFinM"></select>
                </div>
            </div>
        </div>

        <div class="sb-reg-citas-popup-tab-panel">
            <div class="row" style="width: 100%;">
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*LU*" onclick="cambiarSeleccionDia(this)">Lun</button>
                </div>
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*MA*" onclick="cambiarSeleccionDia(this)">Mar</button>
                </div>
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*MI*" onclick="cambiarSeleccionDia(this)">Mié</button>
                </div>
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*JU*" onclick="cambiarSeleccionDia(this)">Jue</button>
                </div>
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*VI*" onclick="cambiarSeleccionDia(this)">Vie</button>
                </div>
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*SA*" onclick="cambiarSeleccionDia(this)">Sáb</button>
                </div>
                <div class="col-3" style="width: 14%; max-width: 14%;">
                    <button type="button" class="btn btn-secondary btnDia active-button-tabla-modulo" style="width: 100%;" data-dia="*DO*" onclick="cambiarSeleccionDia(this)">Dom</button>
                </div>
            </div>
        </div>

        <div class="sb-frm-psi-table-block-item">
            <table class="table table-striped active-table-modulo" style="width: 100%; overflow: scroll;">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Inicio</th>
                        <th>Refrigerio</th>
                        <th>Fin</th>
                    </tr>
                </thead>
                <tbody id="bdHorarios">
                    <tr>
                        <td colspan="4">Realice la búsqueda de horarios.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sb-psi-container-horarios-popup-button">
            <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver active-button-tabla-modulo" onclick="guardarHorarios()">Guardar</button>
            <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-salir active-button-tabla-modulo" onclick="cancelarHorarios()">Volver</button>
        </div>

    </div>
</div>

<!--modal vacaciones-->
<div id="mdl_vacaciones" class="modal sb-psi-container-horarios" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">

    <div class="sb-psi-container-horarios-popup active-fondo-oscuro">
        <div class="sb-psi-container-horarios-popup-title">
            <p class="active-titular-modulo">Vacaciones</p>
        </div>

        <input id="hdnIdPsicologo2" type="hidden" />

        <div class="sb-reg-citas-popup-tab-panel">
            <div class="sb-reg-citas-popup-tab-panel-item-2">
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Año</span>
                    <select class="form-control active-select-modulo" id="cboAño_">
                        <option value="-1">Seleccionar</option>
                        <option value="2025">2025</option>
                    </select>
                </div>
            </div>
            <div class="sb-reg-citas-popup-tab-panel-item-2">
                <div class="sb-frm-psi-agregar-block-item">
                    <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver active-button-modulo" onclick="listarVacaciones('BUSQUEDA')">Buscar</button>
                </div>
            </div>
            <div class="sb-reg-citas-popup-tab-panel-item-2">
                <div class="sb-frm-psi-agregar-block-item">
                    <span class="label-form active-texto-modulo">Nueva&nbsp;fecha</span>
                    <input id="txtAgregar" name="txtAgregar" class="form-control active-input-modulo" type="date" required />
                </div>
            </div>
            <div class="sb-reg-citas-popup-tab-panel-item-2">
                <div class="sb-frm-psi-agregar-block-item">
                    <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver active-button-modulo" onclick="agregarVacaciones()">Agregar</button>
                </div>
            </div>
        </div>

        <div class="sb-frm-psi-table-block-item">
            <table class="table table-striped active-table-modulo" style="width: 100%; overflow: scroll;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="bdVacaciones">
                    <tr>
                        <td colspan="3">Realice la búsqueda de vacaciones.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sb-psi-container-horarios-popup-button">
            <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver active-button-tabla-modulo" onclick="guardarVacaciones()">Guardar</button>
            <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-salir active-button-tabla-modulo" onclick="cancelarVacaciones()">Volver</button>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        var horarios_psicologo = [];
        var vacaciones_psicologo = [];

        var horarios = [
            { id: '-1', valor: 'Seleccionar' },
            { id: '06:00', valor: '06:00 AM' },
            { id: '07:00', valor: '07:00 AM' },
            { id: '08:00', valor: '08:00 AM' },
            { id: '09:00', valor: '09:00 AM' },
            { id: '10:00', valor: '10:00 AM' },
            { id: '11:00', valor: '11:00 AM' },
            { id: '12:00', valor: '12:00 PM' },
            { id: '13:00', valor: '13:00 PM' },
            { id: '14:00', valor: '14:00 PM' },
            { id: '15:00', valor: '15:00 PM' },
            { id: '16:00', valor: '16:00 PM' },
            { id: '17:00', valor: '17:00 PM' },
            { id: '18:00', valor: '18:00 PM' },
            { id: '19:00', valor: '19:00 PM' },
            { id: '20:00', valor: '20:00 PM' },
            { id: '21:00', valor: '21:00 PM' },
            { id: '22:00', valor: '22:00 PM' }
        ];

        var especialidades = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Niños' },
            { id: 2, valor: 'Jóvenes' },
            { id: 3, valor: 'Adultos' },
            { id: 4, valor: 'Parejas' }
        ];

        var tiposDocumento = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'DNI' },
            { id: 2, valor: 'Carnet Extranjeria' }
        ];

        var estados = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Habilitado' },
            { id: 0, valor: 'Deshabilitado' }
        ];

        var refrigerio = [
            { id: '12:00', valor: '12:00 PM - 01:00 PM' },
            { id: '13:00', valor: '01:00 PM - 02:00 PM' },
            { id: '14:00', valor: '02:00 PM - 03:00 PM' }
        ];

        function cargarCombo(array, idCombo) {
            var html = '';
            for (var item of array) {
                html += '<option value="' + item.id + '">' + item.valor + '</option>';
            }
            $('#' + idCombo).html(html);
        }
        cargarCombo(especialidades, 'cboEspecialidad');
        cargarCombo(tiposDocumento, 'cboDocumento');
        cargarCombo(estados, 'cboEstado');
        cargarCombo(refrigerio, 'cboRefrigerio');
        cargarCombo(horarios, 'cboHorario1');
        cargarCombo(horarios, 'cboHorario2');

        cargarCombo(horarios, 'cboInicioM');
        cargarCombo(horarios, 'cboRefrigerioM');
        cargarCombo(horarios, 'cboFinM');

        function cargarSedes() {
            var html = '';
            $.ajax({
                type: 'GET',
                url: '/RegistroCitas/listar_sedes',
                contentType: 'application/json',
                data: {},
                beforeSend: function () {
                    html += '<option value="-1">Seleccionar</option>';
                },
                success: function (response) {
                    for (var item of response) {
                        html += '<option value="' + item.id + '">' + item.nombre + '</option>';
                    }
                },
                error: function (xhr) {
                    html = '<option value="-1">Seleccionar</option>';
                },
                complete: function(){
                    $('#cboSedePrincipal, #cboSedeSecundaria').html(html);
                }
            });
        }
        cargarSedes();

        var global_estudios = [];

        function resetearEstudios() {
            global_estudios = [{
                id: 0,
                idPsicologo: 0,
                gradoAcademico: -1,
                institucion: -1,
                carrera: -1
            }];
        }
        resetearEstudios();

        function buscarPsicologo() {
            let nombre = document.getElementById('txtBuscarNombre').value;
            let sede = document.getElementById('cboBuscarSede').value;
            $.post('/Mantenimiento/Psicologo/Buscar', { nombre: nombre, sede: sede }, function (data) {
                let tableBody = $('#bdPsicologos');
                tableBody.empty();
                data.forEach((psicologo, index) => {
                    tableBody.append(`
                    <tr>
                            <td class="text-center">${index + 1}</td>
                            <td class="text-center">${psicologo.nombre + ' ' + psicologo.apellido }</td>
                            <td class="text-center">${psicologo.documentoTipo + ' - ' + psicologo.documentoNumero}</td>
                            <td class="text-center">${psicologo.sedes}</td>
                            <td class="text-center">${formatFechaNacimiento(psicologo.fechaNacimiento)}</td>
                            <td class="text-center">${psicologo.estado == "1" ? "Habilitado" : "Deshabilitado"}</td>
                            <td class="text-center">
                                <button class="btn btn-sm sb-psi-container-table-button-edit active-button-tabla-modulo" onclick="editarPsicologo(${psicologo.id})">Editar</button>
                                <button class="btn btn-sm sb-psi-container-table-button-edit active-button-tabla-modulo" onclick="modalHorarios(${psicologo.id})">Horarios</button>
                                <button class="btn btn-sm sb-psi-container-table-button-edit active-button-tabla-modulo" onclick="modalVacaciones(${psicologo.id})">Vacaciones</button>
                                <button class="btn btn-sm sb-psi-container-table-button-delet active-button-tabla-modulo" onclick="eliminarPsicologo(${psicologo.id}, '${psicologo.estado}')">${psicologo.estado == "1" ? "Deshabilitar" : "Habilitar"}</button>
                            </td>
                        </tr>
                    `);
                });
                $('#containerTabla').show();
            });
        }

        function mostrarFormularioAgregar() {
            resetearEstudios();
            $(".sb-admninistrator").css('overflow', 'hidden');
            $('#containerFormulario').css('display', 'flex');
            $('#containerFormulario input').val('');
            $('#containerFormulario select').val('-1');
            $('#containerFormulario select#cboRefrigerio').val('12:00');

            $('#divDescHorario, #divHorario1, #divHorario2, #divRefrigerio').removeClass('hide-element');

            listarEstudios([{ id: 0, idPsicologo: 0, gradoAcademico: -1, institucion: -1, carrera: -1 }], 0);
        }

        function editarPsicologo(id) {
            $('#divDescHorario, #divHorario1, #divHorario2, #divRefrigerio').addClass('hide-element');

            $.get(`/Mantenimiento/Psicologo/Get/${id}`, function (psicologo) {
                $('#hdnPsicologoId').val(psicologo.id);
                $('#txtNombre').val(psicologo.nombre);
                $('#txtApellido').val(psicologo.apellido);
                $('#txtFecha').val(psicologo.fechaNacimiento.substring(0, 10));
                $('#cboEstado').val(psicologo.estado);
                $('#cboDocumento').val(psicologo.documentoTipo);
                $('#txtDocumento').val(psicologo.documentoNumero);
                $('#txtTelefono').val(psicologo.telefono);
                $('#cboEspecialidad').val(psicologo.especialidad);
                $('#txtDireccion').val(psicologo.direccion);
                $('#cboDistrito').val(psicologo.distrito);
                $('#cboRefrigerio').val(psicologo.refrigerio);
                $('#cboHorario1').val(psicologo.inicioLabores);
                $('#cboHorario2').val(psicologo.finLabores);
                $('#cboSedePrincipal').val(psicologo.idSedePrincipal);
                $('#cboSedeSecundaria').val(psicologo.idSedeSecundaria);

                listarEstudios(psicologo.estudios, psicologo.id);
                global_estudios = psicologo.estudios;

                $(".sb-admninistrator").css('overflow', 'hidden');
                $('#containerFormulario').css('display', 'flex');
            });
        }

        function modalHorarios(id) {
            $('#hdnIdPsicologo').val(id);
            $('#bdHorarios').html('<tr><td colspan="4">Realice la búsqueda de horarios.</td></tr>');
            $('#mdl_horarios').modal('show');
        }

        function modalVacaciones(id) {
            $('#hdnIdPsicologo2').val(id);
            $('#bdVacaciones').html('<tr><td colspan="3">Realice la búsqueda de vacaciones.</td></tr>');
            $('#mdl_vacaciones').modal('show');
        }

        $('#txtAgregar').on('click focus', function(){
            $('#cboAño_').attr('disabled', true);
        })

        function listarHorarios() {
            var id = $('#hdnIdPsicologo').val();
            var inicio = $('#txtInicio').val();
            var fin = $('#txtFin').val();
            var dias = '-';

            if ($('.btnDiaSeleccionado').length > 0) {
                $('.btnDiaSeleccionado').each(function(){
                    dias += $(this).attr('data-dia');
                })
            }

            if (inicio == '') {
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Seleccione la fecha de inicio.",
                });
                return;
            }
            if (fin == '') {
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Seleccione la fecha de fin.",
                });
                return;
            }

            $.get(`/Mantenimiento/Psicologo/horarios_psicologo/${id}/${inicio}/${fin}/${dias}`, function (data) {
                horarios_psicologo = data;
                var html = '';
                for (var item of data){
                    html += '<tr>';
                    html += '<td>' + item.nombreDia + ' ' + item.fecha + '</td>';
                    html += '<td>' + comboHorario(item.orden, item.id, item.inicio, 'Inicio') + '</td>';
                    html += '<td>' + comboHorario(item.orden, item.id, item.refrigerio, 'Refrigerio') + '</td>';
                    html += '<td>' + comboHorario(item.orden, item.id, item.fin, 'Fin') + '</td>';
                    html += '</tr>';
                }
                $('#bdHorarios').html(html);
            });
        }

        function agregarVacaciones(){
            var otraFecha = $('#txtAgregar').val();
            if (otraFecha == ''){
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Seleccione la fecha a agregar.",
                });
                return;
            }

            for (var item of vacaciones_psicologo){
                if (item.fecha == otraFecha){
                    Swal.fire({
                        icon: "warning",
                        title: "Oops...",
                        text: "La fecha seleccione ya ha sido agregada.",
                    });
                    return;
                }
            }

            var days = ['LUNES', 'MARTES', 'MIÉRCOLES', 'JUEVES', 'VIERNES', 'SÁBADO', 'DOMINGO'];
            var d = new Date(otraFecha);
            var dayName = days[d.getDay()];
            if (dayName == 'SÁBADO' || dayName == 'DOMINGO'){
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "La fecha seleccionada no puede ser un día sábado o domingo.",
                });
                return;
            }

            if (otraFecha.substring(0, 4).toString() != $('#cboAño_').val().toString()){
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "La fecha seleccionada debe pertenecer al año seleccionado.",
                });
                return;
            }

            let limite = 15;
            if (vacaciones_psicologo.length == limite) {
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Ya llegó al límite de vacaciones por año (" + limite + " días).",
                });
                return;
            }

            var id_psicologo = $('#hdnIdPsicologo2').val();
            vacaciones_psicologo.push({ fecha: otraFecha, id: 0, idPsicologo: parseInt(id_psicologo), eliminar: 0, nombreDia: dayName });
            vacaciones_psicologo.sort((x, y) => x.fecha.localeCompare(y.fecha));

            var html = '';
            var i = 1;
            for (var item of vacaciones_psicologo) {
                html += '<tr>';
                html += '<td>' + i + '</td>';
                html += '<td>' + item.nombreDia + ' ' + item.fecha + '</td>';
                html += '<td>' + '<button type="button" class="btn btn-secondary active-button-tabla-modulo" data-fecha="' + item.fecha + '" onclick="eliminarVacacion(this)">Eliminar</button>' + '</td>';
                html += '</tr>';
                i++;
            }
            $('#bdVacaciones').html(html);
        }

        function listarVacaciones(tipoBusqueda) {
            var id = $('#hdnIdPsicologo2').val();
            var año = parseInt($('#cboAño_').val());

            if (año.toString() == '-1') {
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Seleccione el año.",
                });
                return;
            }

            var inicio = año + '-01-01';
            var fin = año + '-12-31';

            $.get(`/Mantenimiento/Psicologo/vacaciones_psicologo/${id}/${inicio}/${fin}/${año}`, function (data) {
                vacaciones_psicologo = data;
                var html = '';
                var i = 1;
                for (var item of data){
                    html += '<tr>';
                    html += '<td>' + i + '</td>';
                    html += '<td>' + item.nombreDia + ' ' + item.fecha + '</td>';
                    html += '<td>' + '<button type="button" class="btn btn-secondary active-button-tabla-modulo" data-fecha="' + item.fecha + '" onclick="eliminarVacacion(this)">Eliminar</button>' + '</td>';
                    html += '</tr>';
                    i++;
                }
                $('#bdVacaciones').html(html);
            });
        }

        function comboHorario(orden, id, horario, tipo){
            var valor = '-1';
            if (tipo == 'Inicio'){
                valor = $('#cboInicioM').val();
            } else if (tipo == 'Refrigerio') {
                valor = $('#cboRefrigerioM').val();
            } else if (tipo == 'Fin'){
                valor = $('#cboFinM').val();
            }

            var html = `<select id="cbo${tipo}${orden}" onchange="actualizarLista('#cbo${tipo}${orden}')" class="cboHorario cbo${tipo} active-select-modulo" data-id="${id}" data-orden="${orden}">`;
            for (var item of horarios){
                html += '<option ' + (horario == item.id ? 'selected' : (horario == '-1' && item.id == valor && valor != '-1' ? 'selected' : '')) + ' value="' + item.id + '">' + item.valor + '</option>'
            }
            html += '</select>';
            return html;
        }

        function actualizarLista(ordenId) {
            var orden = $(ordenId).attr('data-orden');
            var id = $(ordenId).attr('data-id');
            var tipo = '';

            if ($(ordenId).hasClass('cboInicio')) {
                tipo = 'inicio';
            }

            if ($(ordenId).hasClass('cboRefrigerio')) {
                tipo = 'refrigerio';
            }
            if ($(ordenId).hasClass('cboFin')) {
                tipo = 'fin';
            }

            var valor = $(ordenId).val();

            for (var item of horarios_psicologo) {
                if (item.orden == orden) {
                    if (tipo == 'inicio') {
                        item.inicio = valor;
                    }
                    if (tipo == 'refrigerio') {
                        item.refrigerio = valor;
                    }
                    if (tipo == 'fin') {
                        item.fin = valor;
                    }
                }
            }
        }

        function guardarHorarios() {
            var error = '';
            for (var item of horarios_psicologo){
                var inicio = item.inicio;
                var refrigerio = item.refrigerio;
                var fin = item.fin;

                if ((inicio != '-1' && refrigerio == '-1' && fin == '-1') || (inicio == '-1' || refrigerio == '-1' || fin == '-1')){
                    if (error == ''){
                        error = "ERROR";
                    }
                }
            }

            if (error == 'ERROR'){
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Verifique el registro de los horarios para continuar.",
                });
                return;
            }

            var id_psicologo = $('#hdnIdPsicologo').val();
            var lista_enviar = [];
            for (var item of horarios_psicologo) {
                if (item.inicio != '-1' && item.fin != '-1'){
                    lista_enviar.push({ Fecha: item.fecha, Inicio: item.inicio, Refrigerio: item.refrigerio, Fin: item.fin, Id: item.id, IdPsicologo: parseInt(id_psicologo) });
                }
            }

            $.ajax({
                type: 'POST',
                url: '/Mantenimiento/Psicologo/GuardarHorarios',
                contentType: 'application/json',
                data: JSON.stringify(lista_enviar),
                success: function (response) {
                    if (response.estado) {
                        Swal.fire({
                            icon: "success",
                            text: "Horarios guardados correctamente."
                        });
                        listarHorarios();
                    } else {
                        Swal.fire({
                            icon: "warning",
                            title: "Oops...",
                            text: response.descripcion
                        });
                    }
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: "warning",
                        title: "Oops...",
                        text: "Ocurrió un error al guardar los horarios."
                    });
                }
            })

            // $.post(`/Mantenimiento/Psicologo/GuardarHorarios`, lista_enviar, function (response) {
            //     if (response.estado){
            //         Swal.fire({
            //             icon: "success",
            //             text: "Horarios guardados correctamente."
            //         });
            //         listarHorarios();
            //     } else {
            //         Swal.fire({
            //             icon: "warning",
            //             title: "Oops...",
            //             text: response.descripcion
            //         });
            //     }
            // });
        }

        function eliminarVacacion(e){
            var fecha = $(e).attr('data-fecha');

            let filtrado = vacaciones_psicologo.filter(a => a.fecha != fecha);
            vacaciones_psicologo = filtrado;
            $(e).parent().parent().remove();
        }

        function guardarVacaciones() {
            var id_psicologo = $('#hdnIdPsicologo2').val();
            var lista_enviar = [];
            for (var item of vacaciones_psicologo) {
                lista_enviar.push({ Fecha: item.fecha, Id: item.id, IdPsicologo: parseInt(id_psicologo), Eliminar: 0 });
            }

            lista_enviar[0].Eliminar = 1;

            $.ajax({
                type: 'POST',
                url: '/Mantenimiento/Psicologo/GuardarVacaciones',
                contentType: 'application/json',
                data: JSON.stringify(lista_enviar),
                success: function (response) {
                    if (response.estado) {
                        Swal.fire({
                            icon: "success",
                            text: "Vacaciones guardadas correctamente."
                        });
                        listarVacaciones();
                    } else {
                        Swal.fire({
                            icon: "warning",
                            title: "Oops...",
                            text: response.descripcion
                        });
                    }
                    $('#cboAño_').removeAttr('disabled');
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: "warning",
                        title: "Oops...",
                        text: "Ocurrió un error al guardar las vacaciones."
                    });
                }
            })
        }

        function cancelarHorarios() {
            $('#mdl_horarios').modal('hide');
        }

        function cancelarVacaciones() {
            $('#mdl_vacaciones').modal('hide');
        }

        function listarEstudios(estudios, idPsicologo){
            let tableBody = $('#bdEstudios');
            tableBody.empty();

            for (var i = 0; i < estudios.length; i++) {
                var correlativoId = (i + 1).toString();
                var rowId = 'row0' + correlativoId;
                var gradoId = 'grado0' + correlativoId;
                var insId = 'ins0' + correlativoId;
                var carrId = 'carr0' + correlativoId;

                tableBody.append(`
                    <tr class="rowTbl" id="${rowId}">
                        <td class="text-center">${correlativoId}</td>
                        <td class="text-center">
                                    <select class="form-control grado active-select-modulo" id="${gradoId}" onchange="actualizarValor('grado', ${i}, '${gradoId}')">
                                <option value="-1">Seleccionar</option>
                                <option value="1">Posgrado</option>
                                <option value="2">Maestría</option>
                            </select>
                        </td>
                        <td class="text-center">
                                    <select class="form-control institucion active-select-modulo" id="${insId}" onchange="actualizarValor('institucion', ${i}, '${insId}')">
                                <option value="-1">Seleccionar</option>
                                <option value="1">UNMSM</option>
                                <option value="2">UPC</option>
                            </select>
                        </td>
                        <td class="text-center">
                                    <select class="form-control carrera active-select-modulo" id="${carrId}" onchange="actualizarValor('carrera', ${i}, '${carrId}')">
                                <option value="-1">Seleccionar</option>
                                <option value="1">Psicología 1</option>
                                <option value="2">Psicología 2</option>
                            </select>
                        </td>
                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm${(correlativoId == '1' ? ' hide' : '')} active-button-tabla-modulo" title="Eliminar estudio" type="button" onclick="eliminarEstudio('${rowId}', ${i}, ${idPsicologo})">
                                <i class="fa fa-trash"></i>
                            </button>

                                    <button class="btn btn-primary btn-sm main_color${(correlativoId != '1' ? ' hide' : '')} active-button-tabla-modulo" title="Nuevo estudio" type="button" onclick="agregarEstudio(${idPsicologo})">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                `);
                setValorComboDinamico(estudios[i].gradoAcademico, gradoId);
                setValorComboDinamico(estudios[i].institucion, insId);
                setValorComboDinamico(estudios[i].carrera, carrId);
            };
        }

        function setValorComboDinamico(valor, idCombo) {
            $('#' + idCombo).val(valor);
        }

        function actualizarValor(tipo, index, idCampo) {
            var valor = $('#' + idCampo).val();
            if (tipo == 'grado')
                global_estudios[index].gradoAcademico = valor;
            if (tipo == 'institucion')
                global_estudios[index].institucion = valor;
            if (tipo == 'carrera')
                global_estudios[index].carrera = valor;
        }

        function eliminarPsicologo(id, estado) {
            if (confirm('¿Estás seguro de que quieres ' + (estado == '1' ? 'deshabilitar' : 'habilitar') + ' este psicólogo?')) {
                $.post(`/Mantenimiento/Psicologo/Eliminar`, { id: id, estado: estado }, function (response) {
                    Swal.fire({
                        icon: "success",
                        text: response.message,
                    });
                    buscarPsicologo(); // Actualiza la lista después de eliminar
                });
            }
        }

        function agregarEstudio(idPsicologo) {
            global_estudios.push({
                id: 0,
                idPsicologo: idPsicologo,
                gradoAcademico: -1,
                institucion: -1,
                carrera: -1
            });
            listarEstudios(global_estudios, idPsicologo);
        }

        function eliminarEstudio(idFila, index, idPsicologo) {
            if ($('.rowTbl').length == 1){
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Se debe registrar al menos un estudio.",
                });
                return;
            }
            $('#' + idFila).remove();
            global_estudios.splice(index, 1);
            listarEstudios(global_estudios, idPsicologo);
        }

        function guardarPsicologo() {
            let psicologo = {
                Id: parseInt($('#hdnPsicologoId').val()) || 0,
                Nombre: $('#txtNombre').val(),
                Apellido: $('#txtApellido').val(),
                FechaNacimiento: $('#txtFecha').val(),
                Estado: $('#cboEstado').val(),
                DocumentoTipo: $('#cboDocumento').val(),
                DocumentoNumero: $('#txtDocumento').val(),
                Telefono: $('#txtTelefono').val(),
                Especialidad: parseInt($('#cboEspecialidad').val()),
                Direccion: $('#txtDireccion').val(),
                Distrito: $('#cboDistrito').val(),
                Refrigerio: $('#cboRefrigerio').val(),
                InicioLabores: $('#cboHorario1').val(),
                FinLabores: $('#cboHorario2').val(),
                IdSedePrincipal: parseInt($('#cboSedePrincipal').val()),
                IdSedeSecundaria: parseInt($('#cboSedeSecundaria').val())
            };
            psicologo.estudios = obtenerEstudiosGuardar(psicologo.Id);
            let dataToSend = {
                psicologo: psicologo // Enviar dentro de un objeto "psicologo"
            };

            if (psicologo.IdSedeSecundaria != -1 && psicologo.IdSedePrincipal == psicologo.IdSedeSecundaria) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "La sede principal y la opcional no pueden ser las mismas.",
                });
                return;
            }

            if (parseInt(psicologo.InicioLabores.slice(0, 2)) >= parseInt(psicologo.FinLabores.slice(0, 2))){
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "El inicio de labores debe ser menor al fin.",
                });
                return;
            }

            let url = psicologo.Id ? '/Mantenimiento/Psicologo/Editar' : '/Mantenimiento/Psicologo/Agregar';
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(dataToSend.psicologo),
                success: function (response) {
                    Swal.fire({
                        icon: "success",
                        text: response.message,
                    });
                    $('#containerFormulario').hide();
                    $(".sb-admninistrator").css('overflow', 'auto');
                    buscarPsicologo(); // Actualiza la lista después de guardar
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: "Error",
                        title: "Oops...",
                        text: "Ocurrió un error al guardar el psicólogo.",
                    });
                }
            });
        }

        function obtenerEstudiosGuardar(idPsicologo){
            let estudios = [];
            $('.rowTbl').each(function () {
                var grado = $(this).find('.grado').val();
                var institucion = $(this).find('.institucion').val();
                var carrera = $(this).find('.carrera').val();

                estudios.push({
                    Id: 0,
                    IdPsicologo: idPsicologo,
                    GradoAcademico: parseInt(grado),
                    Institucion: parseInt(institucion),
                    Carrera: parseInt(carrera)
                });
            });
            return estudios;
        }

        function cancelarFormulario() {
            $('#containerFormulario').hide();
            $(".sb-admninistrator").css('overflow', 'auto');
        }

        function formatFechaNacimiento(fecha) {
            var dia = fecha.substring(8, 10);
            var mes = fecha.substring(5, 7);
            var año = fecha.substring(0, 4);
            return dia + "/" + mes + "/" + año;
        }

        function cambiarSeleccionDia(e){
            if ($(e).hasClass('btnDiaSeleccionado')){
                $(e).removeClass('btnDiaSeleccionado');
            } else {
                $(e).addClass('btnDiaSeleccionado');
            }

            if ($('.btnDiaSeleccionado').length == 0) {
                $('#divFechasMultiple').addClass('hide-element');
            } else {
                $('#divFechasMultiple').removeClass('hide-element');
            }
        }

        $('#cboInicioM').on('change', function(){
            $('.cboHorario.cboInicio').val($(this).val()).change();
        })

        $('#cboRefrigerioM').on('change', function(){
            $('.cboHorario.cboRefrigerio').val($(this).val()).change();
        })

        $('#cboFinM').on('change', function(){
            $('.cboHorario.cboFin').val($(this).val()).change();
        })
    </script>
}