@model ProductosYPacientesViewModel
@{
    var dynamicData = Model.DynamicData;
    var productos = Model.Productos;
    var dHoy = DateTime.Now;
    ViewData["Title"] = "Agenda";
}

<style>
    .item_separado {
        background-color: #43b33c;
    }
    .select2-container .select2-dropdown {
        position: absolute !important;
        visibility: visible !important;
        display: block !important;
        z-index: 9999 !important; /* Asegura que esté sobre otros elementos */
    }

    .select2-container--open .select2-dropdown--below {
        top: 100% !important; /* Asegura que se posicione debajo del input */
        left: 0 !important;
        width: 100% !important;
    }

    input[type="text"]:disabled, select[disabled] {
        background: #FFFFFF !important;
    }

    .nav-link {
        width: 50%;
        padding: 0px !important;
    }

        .nav-link > a {
            width: 100%;
            display: block;
            text-align: center;
            padding: .5rem 1rem;
            border-radius: 10px 10px 0px 0px;
        }

            .nav-link > a.active {
                background-color: #1656a0;
                color: #ffffff;
            }

    .tab-pane.active {
        background-color: #ffffff;
    }

    .day_click_event {
        cursor: default !important;
    }

    .header-semanal {
        color: #868686 !important;
        font-size: 11px;
        text-align: center;
    }

    .diaVacaciones{
        background-color: #feffb6;
    }

    .calendar-dow > td {
        border: 2px solid #8d8d8d;
        color: #333333 !important;
    }

    .dia_inhabilitado {
        background-color: #cfcfcf !important;
    }

    .active-table-modulo tr:nth-of-type(odd) {
        background-color: #ededed !important;
    }

    .active-table-modulo tr:nth-of-type(even) {
        background-color: #ededed !important;
    }

    .active-table-modulo .calendar-dow-header th {
        color: #282828 !important;
    }

    .active-table-modulo .calendar-month-header th div span {
        color: #282828 !important;
    }

    #bdTblSemanal tr td {
        font-size: 12px;
        border: 2px solid #8d8d8d;
    }

    #hdTblSemanal tr th {
        font-size: 12px;
        padding-top: 10px;
    }

    .calendar-dow > td {
        border: 2px solid #919191 !important;
    }

    #nombreServicio, .new-font{
        font-size: 18px !important;
    }
</style>

<!-- SB - STYLE -->

<link rel="stylesheet" href="~/src/css/sb-registrar-citas.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<div class="sb-reg-citas-container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary btn-vista active-botonera-modulo active" data-tipo="MENSUAL">Mensual</button>
        <button type="button" class="btn btn-secondary btn-vista active-botonera-modulo" data-tipo="SEMANAL">Semanal</button>
    </div>
    <input type="hidden" id="hiddenDoctor" name="hiddenDoctor" />
    <div class="sb-reg-citas-title">
        <p class="active-titular-modulo">Registro de Citas</p>
    </div>
    <input type="hidden" id="hiddenIdSede" value="@(Model?.DynamicData?.id_sede)" />
    <div class="sb-reg-citas-list-colores">
        <div class="sb-reg-citas-color-citado">
            <p class="active-texto-modulo">Citado</p>
        </div>
        <div class="sb-reg-citas-color-confirmado">
            <p class="active-texto-modulo">Confirmado</p>
        </div>
        <div class="sb-reg-citas-color-atendido">
            <p class="active-texto-modulo">Atendido</p>
        </div>
        <div class="sb-reg-citas-color-evaluacion">
            <p class="active-texto-modulo">Evaluación</p>
        </div>
        <div class="sb-reg-citas-color-informe">
        <p>Informe realizar</p>
        </div>
  
    </div>

    <div class="row sb-reg-citas-list-filtro_">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 active-buscador-bloque-modulo">
            <span class="label-form active-texto-modulo">Paciente</span>
            <select class="form-control active-select-modulo" id="cboPacienteFiltro" onchange="recargar_citas()" data-placeholder="Elija Paciente">
                <option value="-1">Todos</option>
            </select>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 active-buscador-bloque-modulo">
            <span class="label-form active-texto-modulo">Especialista</span>
            <select class="form-control active-select-modulo" id="cboDoctorFiltro" onchange="recargar_citas()" data-placeholder="Elija Doctor">
                <option value="-1">Todos</option>
            </select>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <span class="label-form active-texto-modulo">Centro</span>

            <select class="form-control active-select-modulo" id="cboSedeFiltro" onchange="recargar_citas()" data-placeholder="Eija cita" style="background-color: #18202d !important; color: #FFFFFF !important; opacity: 1; border: 1px solid #1656a0;" disabled="disabled">
                @* <option value="-1">Todos</option>
                <option value="1">La Molina</option>
                <option value="2">Surco</option> *@
            </select>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <span class="label-form active-texto-modulo">&nbsp;</span>
            <a onclick="$('#pacientesModal').modal('show');" class="btn modal-trigger sb-reg-citas-button active-botonera-modulo" style="margin-left: 0px; text-align: center; display: block;">Acceso a pacientes</a>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <span class="label-form active-texto-modulo">&nbsp;</span>
            <a data-id-cita="0" data-id-especialista="-1" data-evaluacion="false" data-servicio="" data-id-paciente="-1" data-fecha-cita="" data-pago-gratis="0" data-hora-cita="" data-estado="-" data-telefono="--" data-moneda="S/." data-monto-pactado="0.00" data-monto-pagado="0.00" data-monto-pendiente="0.00" data-id-servicio="-1" data-id-sede="-1" data-dni-paciente="--" data-paciente="" data-id-paquete="0" onclick="ver_cita(this)" class="btn modal-trigger sb-reg-citas-button active-botonera-modulo btn_nueva_cita" style="margin-left: 0px; text-align: center; display: block;">Nueva cita</a>
        </div>
        
    </div>

    <div class="sb-reg-citas-table-calendar table-responsive calendar-container my-calendar">
        <div id="my-calendar" class=""></div>
    </div>

   @*  <div class="sb-reg-citas-table-calendar my-calendar2 hide-element">
        <div class="sb-reg-citas-table-calendar-month">
            <div class="calendar-month-navigation trigger_mes_anterior" style="cursor: pointer;">
                <span class="sb-reg-citas-arrow-left">&lt;</span>
            </div>
            <select id="trigger_seleccion_mes" style="color: #004A92; font-size: 18px; font-weight: bold; border: 0px; text-decoration: none; cursor: pointer;" disabled="true"></select>
            <div class="calendar-month-navigation trigger_mes_siguiente" style="cursor: pointer;">
                <span class="sb-reg-citas-arrow-right">&gt;</span>
            </div>
        </div>
        <div class="sb-reg-citas-table-calendar-list">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <span class="label-form">N° de semana</span>
                <select class="form-control" id="cboSemanaFiltro" onchange="recargar_vista_semanal()"></select>
            </div>
        </div>
        <div class="sb-reg-citas-table-calendar-table">
            <table id="tblSemanal">
                <thead id="hdTblSemanal">
                    <tr></tr>
                </thead>
                <tbody id="bdTblSemanal">
                </tbody>
            </table>
        </div>
    </div> *@


    <div class="my-calendar2 hide-element">
        <div>
            <div class="row sb-reg-citas-list-filtro">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <table class="table active-table-modulo">
                        <tr class="calendar-month-header">
                            <th>
                                <div class="calendar-month-navigation trigger_mes_anterior" style="cursor: pointer;">
                                    <span class="sb-reg-citas-arrow-left active-texto-modulo">&lt;</span>
                                </div>
                            </th>
                            <th>
                                <select id="trigger_seleccion_mes" class="active-select-modulo" style="color: #004A92; font-size: 18px; font-weight: bold; border: 0px; text-decoration: none; cursor: pointer;" disabled="true"></select>
                            </th>
                            <th>
                                <div class="calendar-month-navigation trigger_mes_siguiente" style="cursor: pointer;">
                                    <span class="sb-reg-citas-arrow-right active-texto-modulo">&gt;</span>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row sb-reg-citas-list-filtro" style="margin-bottom: 20px;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <span class="label-form active-texto-modulo">N° de semana</span>
                    <select class="form-control active-select-modulo" id="cboSemanaFiltro" onchange="recargar_vista_semanal()"></select>
                </div>
            </div>

            <div class="row sb-reg-citas-list-filtro">
                <table id="tblSemanal" class="active-table-modulo" style="width: 100%;">
                    <thead id="hdTblSemanal" class="active-table-semanal-modulo">
                        <tr></tr>
                    </thead>
                    <tbody id="bdTblSemanal">
                    </tbody>
                </table>
                <br />
                <br />
                <table>
                    <tr>
                        <td><span style="font-weight: bold;" class="spnVacaciones active-texto-modulo">Vacaciones: </span></td>
                        <td class="diaVacaciones" style="height: 40px; width: 80px;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<!--MODAL CITA-->
<div id="mdl_cita" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center;">
        <div class="modal-content sb-reg-citas-popup-container">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Datos de cita</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">

                <ul class="nav nav-tabs sb-reg-citas-popup-body-tabs" id="ulTabs">
                    <li class="nav-link sb-reg-citas-popup-body-tabs-resumen"><a data-toggle="tab" href="#resumen" class="active" id="btnResumen"><p>Resumen</p></a></li>
                    <li class="nav-link sb-reg-citas-popup-body-tabs-historial"><a data-toggle="tab" href="#historial"><p>Historial</p></a></li>
                </ul>

                <div class="tab-content">
                    <!--resumen-->
                    <div id="resumen" class="tab-pane fade show active">

                        <div class="sb-reg-citas-popup-tab-panel">
                            <div class="sb-reg-citas-popup-tab-panel-block" style="display: inline-flex;">
                                <div class="sb-reg-citas-popup-tab-panel-block-item" style="width: 50%; display: inline-flex">
                                    <span class="label-form">Fecha cita</span>
                                    <input id="txtFecha" class="dateCrearCita form-control" type="date" autocomplete="off" style="background-color: #ffffff;" />
                                </div>
                                <div class="sb-reg-citas-popup-tab-panel-block-item fechasAdicionales hide-element" style="width: 50%; display: inline-flex" onclick="verFechasAdicionales()">
                                    <span class="label-form">&nbsp;</span>
                                    <button type="button" class="btn btn-primary main_color">Fechas adicionales</button>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divReprogramar">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Fecha reprogramación</span>
                                    <input class="form-control" type="date" id="txtFechaReasignar" autocomplete="off" max="2050-12-31" min="2022-08-01" onkeydown="return false" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divEspecialista">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Especialista</span>
                                    <div class="input-group">
                                        <select class="form-control" id="cboDoctor" onchange="verificar_disponibilidad()">
                                            <option value="-1" data-sedes="-1">Seleccionar</option>
                                        </select>
                                     </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" style="display: none !important;">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Hora</span>
                                    <div class="input-group date" id="dtpicker1">
                                        <input type="text" class="form-control form-hora" id="txtHora" onkeydown="return false;" onchange="validateHhMm(this);" onpaste="validateHhMm(this);" maxlength="8" placeholder="Seleccionar hora" autocomplete="off" />
                                        <span class="input-group-append input-group-addon">
                                            <span style="margin: 0 auto; display: flex; " class="input-group-text mdi mdi-clock">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Paciente</span>
                                    <select class="form-control" id="cboPaciente">
                                        <option value="-1">Seleccionar</option>
                                    </select>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" style="display: inline-flex;" id="divTelefono">
                                <div class="sb-reg-citas-popup-tab-panel-block-item" style="width: 50%; display: inline-flex">
                                    <span class="label-form">Teléfono</span>
                                    <input class="form-control" type="text" id="txtTelefono" autocomplete="off" disabled="disabled" />
                                </div>

                                <div class="sb-reg-citas-popup-tab-panel-block-item" style="width: 50%; display: inline-flex">
                                    <span class="label-form">Documento</span>
                                    <input class="form-control" type="text" id="txtDniPaciente" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Servicio&nbsp;
                                        <img id="ImgActualizarServicio" src="../images/free.png" style="height: 15px; width: auto; cursor: pointer; margin: 0px 0px 0px 5px; border-radius: 10px;" title="Actualizar servicio" onclick="modalActualizarServicio()" />
                                    </span>
                                    <div class="input-group">
                                        <select class="form-control" id="cboServicio">
                                            <option value="-1" data-sesiones="0">Seleccionar</option>
                                            @foreach (var prod in productos)
                                            {
                                                <option value="@prod.Id" data-sesiones="@prod.NumSesiones">@prod.Alias</option>
                                            }
                                        </select>
                                        <div class="input-group-append" id="divPagoPendiente" style="width: 70px;">
                                            <span class="input-group-text" id="basic-addon2" style="height: 100%; display: inline-block;">
                                                <img id="PagoPendiente" src="../images/warning.jpg" style="height: 15px; width: auto; cursor: pointer; margin: 10px 6px 10px 6px;" title="Verificar pagos" onclick="form_pago()" />
                                            </span>
                                            <span class="input-group-text" id="basic-addon3" style="height: 100%; display: inline-block;">
                                                <img id="PagosHistorial" src="../images/lupa.png" style="height: 19px; width: auto; cursor: pointer; margin: 10px 6px 10px 6px;" title="Ver pagos" onclick="modal_historial_pago(true)" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Centro</span>
                                    <div class="input-group">
                                        <select class="form-control" id="cboSedeChange_" disabled="disabled">
                                            <option value="-1">Seleccionar</option>
                                            @* <option value="1">Sentirse bien</option>
                                            <option value="2">Transforma</option> *@
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Tipo de cita</span>
                                    <div class="input-group">
                                        <select class="form-control" id="cboTipoCita">
                                            <option value="P">Presencial</option>
                                            <option value="V">Virtual</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="customer-feedback">
                                <label for="feedback">Estado del Cliente:</label>
                                <div class="feedback-icons">
                                    <input type="radio" id="happy" name="feedback" value="happy" onclick="toggleComment(false)" checked>
                                    <label for="happy" class="icon-happy">😊</label>

                                    <input type="radio" id="sad" name="feedback" value="sad" onclick="toggleComment(true)">
                                    <label for="sad" class="icon-sad">😢</label>
                                </div>

                                <div id="comment-section" style="display: block;">
                                    <label for="comment">Comentario adicional:</label>
                                    <textarea id="comment" name="comment" placeholder="Describe el problema aquí..."></textarea>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block divMonto">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form" id="spnPactado">Monto pactado</span>
                                    <input class="form-control" type="text" id="txtMontoPactado" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block divMonto">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form" id="spnPagado">Monto pagado</span>
                                    <input class="form-control" type="text" id="txtMontoPagado" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block divMonto">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form" id="spnPendiente">Monto pendiente</span>
                                    <input class="form-control" type="text" id="txtMontoPendiente" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divEstado">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Estado</span>
                                    <button type="button" id="btnEstado"></button>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divHorarios">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <table class="table table-responsive" style="display: inline-table;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Hora</th>
                                                <th class="text-center">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody id="divDisponibilidad"></tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divPagoGratis">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <button id="btnPagoGratis" type="button" onclick="registrarPagoGratis()" class="btn btn-primary">Registrar pago gratuito</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--historial-->
                    <div id="historial" class="tab-pane fade">
                        <div class="sb-reg-citas-popup-tab-historial" id="divHistorial"></div>
                        <br />
                        <div class="sb-reg-citas-popup-tab-historial">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;" colspan="2">Historial de atenciones</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center;">Especialista</th>
                                        <th style="text-align: center;">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody id="divHistorial2"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer sb-reg-citas-popup-btn">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_cita()">Volver</button>
                <button type="button" class="btn btn-primary main_color divConfirmar sb-reg-citas-popup-button" onclick="guardar_cita()" id="btnGuardarCita">Guardar</button>
                <button type="button" class="btn btn-primary main_color divConfirmar sb-reg-citas-popup-button" onclick="confirmar_cita()" id="btnConfirmar">Confirmar</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="atender_cita()" id="divAtender">Atender</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" style="background-color: #eb5151 !important;" onclick="cancelar_cita()" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL CITA-->
<div id="mdlActualizarServicio" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center;">
        <div class="modal-content sb-reg-citas-popup-container">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Actualizar servicio</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">

                <div class="sb-reg-citas-popup-tab-panel">

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Servicio</span>
                            <div class="input-group">
                                <select class="form-control" id="cboServicioActualizar">
                                    <option value="-1" data-sesiones="0">Seleccionar</option>
                                    @foreach (var prod in productos)
                                    {
                                        <option value="@prod.Id">@prod.Alias</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer sb-reg-citas-popup-btn">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrarModalActualizarServicio()">Volver</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="actualizar_servicio()" id="btnActualizarServicio">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PAGO-->
<div id="mdl_pago" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-md" role="document" style="height: 90%; display: grid; place-items: center;">
        <div class="modal-content sb-reg-citas-popup-container">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Registrar pago</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">

                <div class="sb-reg-citas-popup-tab-panel">
                    <div class="sb-reg-citas-popup-tab-panel-block" style="display: none;">
                        <input class="form-control" type="text" id="txtIdCita" />
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Fecha de pago</span>
                            <input id="txtFechaPago" class="form-control" type="text" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Paciente</span>
                            <input class="form-control" type="text" id="txtPaciente" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Forma de pago</span>
                            <select class="form-control" id="cboFormaPago" onchange="validarSiEsTransferencia()">
                                <option value="-1">Seleccionar</option>
                                <option value="1">Transferencia</option>
                                <option value="2">Depósito</option>
                                <option value="3">Pago gratis</option>
                                <option value="4">Efectivo</option>
                                <option value="5">Tarjeta</option>
                                <option value="6">Yape</option>
                                <option value="7">Plin</option>
                            </select>
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block" id="divDetalleTransferencia">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Detalle de transferencia</span>
                            <select class="form-control" id="cboDetalleTransferencia">
                                <option value="-1">Seleccionar</option>
                                <option value="1">BCP - Ahorros S/.</option>
                                <option value="2">BBVA - Ahorros S/.</option>
                                <option value="3">Interbank - Ahorros S/.</option>
                            </select>
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Observación</span>
                            <input class="form-control" type="text" id="txtComentario" autocomplete="off" maxlength="50" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Importe de pago (S/.)</span>
                            <input class="form-control" type="text" id="txtMonto1" autocomplete="off" onkeyup="validarDiferenciaPago()" onfocusout="setDecimalValue()" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Monto pendiente (S/.)</span>
                            <input class="form-control" type="text" id="txtMonto2" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Diferencia (S/.)</span>
                            <input class="form-control" type="text" id="txtMonto3" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_pago()">Volver</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="guardar_pago()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Referencia la vista parcial de pacientes dentro del modal -->
@Html.Partial("/Views/Mantenimiento/Paciente/_PacientesModal.cshtml", Model.Pacientes)

<!--MODAL OTROS PAGOS PENDIENTES-->
<div id="mdl_otros_pagos_pendientes" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center; max-width: fit-content;">
        <div class="modal-content sb-reg-citas-popup-container" style=" width: fit-content;">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Pagos pendientes</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">

                <div class="sb-reg-citas-popup-tab-panel">
                    <table class="table table-responsive" style="display: inline-table;">
                        <thead id="headPagosPendientes">
                            <tr>
                                <th>Servicio</th>
                                <th>Fecha&nbsp;cita</th>
                                <th>Estado</th>
                                <th>Usuario&nbsp;registra</th>
                                <th>Fecha&nbsp;registra</th>
                                <th>Monto&nbsp;pactado</th>
                                <th>Monto&nbsp;pagado</th>
                                <th>Monto&nbsp;pendiente</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="bodyPagosPendientes"></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_pagos_pendientes()">Volver</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL HISTORIAL PAGOS CITA-->
<div id="mdl_historial_pago" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center; max-width: fit-content;">
        <div class="modal-content sb-reg-citas-popup-container" style=" width: fit-content;">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Historial de pagos</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">

                <div class="sb-reg-citas-popup-tab-historial">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;" colspan="10">Historial de pagos</th>
                            </tr>
                            <tr>
                                <th style="text-align: center;">Paciente</th>
                                <th style="text-align: center;">Centro</th>
                                <th style="text-align: center;">Fecha&nbsp;transacción</th>
                                <th style="text-align: center;">Estado&nbsp;cita</th>
                                <th style="text-align: center;">Servicio</th>
                                <th style="text-align: center;">Forma&nbsp;de&nbsp;pago</th>
                                <th style="text-align: center;">Detalle&nbsp;de&nbsp;transferencia</th>
                                <th style="text-align: center;">Importe</th>
                                <th style="text-align: center;">Usuario</th>
                                <th style="text-align: center;">Estado&nbsp;de&nbsp;orden</th>
                            </tr>
                        </thead>
                        <tbody id="divHistorial3">
                            <tr>
                                <td colspan="10">Sin registros</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="modal_historial_pago(false)">Volver</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL FECHAS ADICIONALES-->
<div id="mdl_adicionales_" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center; max-width: fit-content; width: 100%; max-width: 100%;">
        <div class="modal-content sb-reg-citas-popup-container">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Fechas adicionales</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">

                <div class="sb-reg-citas-popup-tab-panel">
                    <span id="nombreServicio" style="text-align: center; font-weight: bold; font-size: 16px;"></span>
                    <table class="table table-responsive" style="display: inline-table;">
                        <tbody id="bdFechas"></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="validar_modal_fechas_adicionales()">Validar</button>
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" id="btnActualizarFechasAdicionales" onclick="actualizar_fechas_adicionales()">Actualizar</button>
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_fechas_adicionales()">Volver</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {



    <link rel="stylesheet" href="~/assets/css/zabuto.css" />
    <link rel="stylesheet" href="~/assets/css/datetimepicker.css" />
    <script>
        var sedes = [];
        var tipoUsuario = $('#hdnIdTipoUsuario').val().toString();
        if (tipoUsuario == '1'){
            tipoUsuario = 'ADMIN';
        } else if (tipoUsuario == '3') {
            tipoUsuario = 'COUNTER';
        } else {
            tipoUsuario = 'PSICOLOGO';
        }

        var idSedePrincipal = $('#hdnIdSede').val().toString();
        var sedePrincipal = (idSedePrincipal == '1' ? 'Sentirse bien' : 'Transforma');

        if (tipoUsuario == 'ADMIN') //si es ADMIN ve todo
        {
            sedes.push({ id: '-1', valor: 'Todos' });
            sedes.push({ id: '1', valor: 'Sentirse bien' });
            sedes.push({ id: '2', valor: 'Transforma' });
            sedes.push({ id: '3', valor: 'Miraflores' });
            // sedes.push({ id: '-2', valor: 'Ambas' });
        } else {
            // caso contrario ve solo lo de su sede asignada
            
            // sedes.push({ id: idSedePrincipal, valor: sedePrincipal });
            sedes.push({ id: '1', valor: 'Sentirse bien' });
            sedes.push({ id: '2', valor: 'Transforma' });
            sedes.push({ id: '3', valor: 'Miraflores' });
        }
        cargarCombo(sedes, 'cboSedeFiltro');
        cargarCombo(sedes, 'cboSedeChange_');

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

        var estadosCiviles = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Casado' },
            { id: 2, valor: 'Soltero' }
        ];

        var sexos = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Masculino' },
            { id: 2, valor: 'Femenino' }
        ];

        var estados = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Habilitado' },
            { id: 0, valor: 'Deshabilitado' }
        ];

        var tiposDocumento = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'DNI' },
            { id: 2, valor: 'Carnet Extranjeria' }
        ];

        function cargarCombo(array, idCombo) {
            var html = '';
            for (var item of array) {
                html += '<option value="' + item.id + '">' + item.valor + '</option>';
            }
            $('#' + idCombo).html(html);
        }
        cargarCombo(estadosCiviles, 'cboEstadoCivil');
        cargarCombo(sexos, 'cboSexo');
        cargarCombo(estados, 'cboEstado');
        cargarCombo(tiposDocumento, 'cboDocumento');

        function buscarPaciente(pageNumber = 1) {
            let nombre = document.getElementById('txtBuscarNombre').value;
            let pageSize = 10; // Número de pacientes por página
            console.log('paciente');
            $.post('/Mantenimiento/Paciente/BuscarPacienteCita', { nombre: nombre, pageNumber: pageNumber, pageSize: pageSize })
                .done(function (data) {
                    // Actualizar solo el contenido de la tabla
                    $('#containerTabla').html(data);
                })
                .fail(function () {
                    Swal.fire({
                        icon: "Error",
                        title: "Oops...",
                        text: "Error en la búsqueda de pacientes.",
                    });
                });
        }
      
        function mostrarFormularioAgregar() {
            $(".sb-admninistrator").css('overflow', 'hidden');
            $('#containerFormulario').css('display', 'flex');
            $('#containerFormulario input').val('');
            $('#containerFormulario select').val('-1');
        }

        function editarPaciente(id) {
            $.get(`/Mantenimiento/Paciente/Get/${id}`, function (paciente) {
                $('#hdnPacienteId').val(paciente.id);
                $('#txtNombre').val(paciente.nombre);
                $('#txtApellido').val(paciente.apellido);
                $('#txtFecha').val(paciente.fechaNacimiento.substring(0, 10));
                $('#cboEstado').val(paciente.estado);
                $('#cboDocumento').val(paciente.documentoTipo);
                $('#txtDocumento').val(paciente.documentoNumero);
                $('#txtTelefono').val(paciente.telefono);
                $('#cboEstadoCivil').val(paciente.estadoCivil);
                $('#cboSexo').val(paciente.sexo);
                $('#containerFormulario').css('display', 'flex');
                $(".sb-admninistrator").css('overflow', 'hidden');
            });
        }

        function eliminarPaciente(id) {
            if (confirm('¿Estás seguro de que quieres eliminar este paciente?')) {
                $.post(`/Mantenimiento/Paciente/Eliminar`, { id: id }, function (response) {
                    Swal.fire({
                        icon: "success",
                        text: response.message,
                    });
                    buscarPaciente(); // Actualiza la lista después de eliminar
                });
            }
        }

        function guardarPaciente() {
            console.log('prueba');
            let paciente = {
                Id: parseInt($('#hdnPacienteId').val()) || 0,
                Nombre: $('#txtNombre').val(),
                Apellido: $('#txtApellido').val(),
                FechaNacimiento: $('#txtFechaModalPaci').val(),
                Estado: $('#cboEstado').val(),
                DocumentoTipo: $('#cboDocumento').val(),
                DocumentoNumero: $('#txtDocumentoModalPaci').val(),
                Telefono: $('#txtTelefonoModalPaci').val(),
                EstadoCivil: $('#cboEstadoCivil').val(),
                Sexo: $('#cboSexo').val(),
            };

            let url = paciente.Id ? '/Mantenimiento/Paciente/Editar' : '/Mantenimiento/Paciente/Agregar';
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(paciente), // Aquí no envías dentro de un objeto
                success: function (response) {
                    Swal.fire({
                        icon: "success",
                        title: "Registro completo.",
                    });
                    $('#containerFormulario').hide();
                    $(".sb-admninistrator").css('overflow', 'auto');
                    buscarPaciente(); // Actualiza la lista después de guardar
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: "Error",
                        title: "Oops...",
                        text: "Debe rellenar todos los campos!",
                    });
                }
            });
        }
        function cancelarFormulario() {
            $('#containerFormulario').hide();
            $(".sb-admninistrator").css('overflow', 'auto');
        }
        </script>>

    <script src="~/basic/zabuto.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="~/basic/moments.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="~/basic/datetimepicker.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="~/basic/registro_citas.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>


}